[2015-10-02 02:21] firedev opened #2 "q to close window"
Hi,

Thank you for porting Magit, the only thing I liked about Emacs. Could you please add a `q` shortcut to close window like it's done in NERDTree, Fugitive, vim-plug and others?

Thanks.

[2015-10-02 08:15] #2 closed

[2015-10-02 08:17] jreybert commented on #2
I was this close to move to emacs, just for magit :)

[2015-10-02 08:32] firedev commented on #2
Thanks. Couldn't survive all the key-bindings in Emacs.

[2015-10-02 08:34] firedev opened #3 "Vimagit asciicast"
I would like to see how you are using it.

And I am sure it should help others and to boost popularity. What do you think about recoding a short asciicast with this: https://asciinema.org/

[2015-10-02 08:39] jreybert commented on #3
On 10/02/2015 10:34 AM, Nick Ostrovsky wrote:

Sure thing! I had it in mind, I just need to find some time.

##

Jérôme

[2015-10-06 17:44] mechanicles opened #6 "Few suggestions."
The plugin looks good. I don't know about `magit` plugin but I heard it from my emacs friends. As a new user of this plugin, I feel something needs to be improved.

1 - Magit buffer is too much verbose with help info. Try to make it clean. (Not sure how emacs' buffer is..)
2 - It would be great if you mention current branch name in Magit buffer.

Also please mention `:Magit` command in README.md f

[2015-10-06 18:46] jreybert commented on #6
mechanicies, thanks for your time and your suggestions.
1. About verbosity, there is a message on the top of buffer

Maybe I should highlight it.
1. Good idea! It is simple to add. Anyway, there's a lot of awesome things to do around branches.
2. There was a time when it was in README and vimhelp. I put it again.

Thanks again to help me to make something suitable for the most of users.

[2015-10-08 12:17] #6 closed

[2015-10-08 23:15] jreybert opened #8 "feature:add ability to stage only part of hunks"

[2015-10-08 23:16] jreybert opened #9 "feature: add ability to modify some content of the diff before staging"

[2015-10-08 23:17] jreybert opened #10 "feature: for new directory, add possibly by file, recursively"

[2015-10-08 23:18] jreybert opened #11 "bug: fix new empty file, impossible to add"

[2015-10-12 08:44] jreybert opened #12 "feature: add submodule handling (new, modified...)"

[2015-10-12 09:09] jreybert opened #13 "feature: handle binary files (nex, modified...)"

[2015-10-12 09:11] jreybert commented on #13
http://stackoverflow.com/questions/6119956/how-to-determine-if-git-handles-a-file-as-binary-or-as-text

[2015-10-12 09:18] jreybert opened #14 "feature: add option to show magit buffer in full buffer"

[2015-10-12 21:03] jreybert opened #15 "bug: fix integration for macos"
this is about bash script stuff, not supported in macos

[2015-10-14 10:19] jreybert opened #16 "add warning if user is in insert mode in a wrong section"

[2015-10-14 12:26] jreybert commented on #8
git apply -p0 --index  --cached - < (diff crafted)
craft, for all lines except selection
- replace  ^- by space
- remove ^+ lines

[2015-10-15 09:32] #9 closed

[2015-10-15 09:32] #11 closed

[2015-10-15 09:32] #13 closed

[2015-10-15 13:53] hoschi opened #18 "Add Ex command to unhide all hunks at magit opening"
This would be really usefull to get a quick overview. It should be an opt-in feature, because this can be slow with huge changes, I think.

[2015-10-15 18:41] jreybert commented on #18
Hi hoschi,

could you explain what you mean by diff mode?

If you mean side by side diff, please could you provide some example (a schema for example) describing how you imagine such mode with magit workflow.

Thanks

[2015-10-15 21:04] hoschi commented on #18
I mean all file hunks are shown and expanded. This way you don't have to go
to each file  and press enter followed by `zO` to expand all hunks of that
file.

Jérôme Reybert notifications@github.com schrieb am Do., 15. Okt. 2015
20:42:

[2015-10-15 21:08] hoschi commented on #18
Sorry, 'overview' isn't a good word for that kind of view. I meant it
should be an overview of _all_ changes as diff.

Stefan Gojan vollekannehoschi@gmail.com schrieb am Do., 15. Okt. 2015
23:04:

[2015-10-16 07:53] jreybert commented on #18
OK! That's an easy one :) I reword the issue title.

It'll be in next release then.

Thanks for the feedback.

[2015-10-16 10:03] hoschi commented on #18
:clap:
cool you like the idea :)

[2015-10-16 16:29] jreybert opened #19 "feature: add a 'mark line to stage'"
it should allow to stage muliple seperate lines
play with signs

[2015-10-19 12:37] jreybert commented on #10
Actually, it is possible to add a directory, but there is no possibility to add file by file, recursively.

This is an enhancement.

[2015-10-20 06:11] jordwalke opened #20 "Vertical tracking diff split view"
Is it possible to view the diffs in a vertical diff split?

[2015-10-20 07:52] jreybert opened #21 "feature: provide a word diff display"
git propose a nice diff output:

There is an example output here:
https://idnotfound.wordpress.com/2009/05/09/word-by-word-diffs-in-git/

This visualization would be read only in a first time.

[2015-10-20 07:53] jreybert commented on #20
I am not comfortable with this feature:
- With my actual vim knowledge, I don't think it is possible to provide a side by side diff view in the main vimagit window.
- The way to add this feature would to display two more windows when user want to see a diff split. I feel it does not integrate well in the actual worflow, where you do all staging stuff in one window, then you don't have to switch be

[2015-10-24 07:49] #8 closed

[2015-10-24 07:49] #10 closed

[2015-10-24 07:49] #12 closed

[2015-10-24 07:49] #18 closed

[2015-10-24 08:44] #19 closed

[2015-10-24 08:45] jreybert commented on #14
new option 'c' in magit#show_magit

[2015-10-24 08:45] #14 closed

[2015-10-26 13:32] #3 closed

[2015-10-26 21:55] jreybert opened #23 "Feature: new commit flavors !fixup and !stash"
Default mappings could be CF and CS (previous CF mapping could be renamed CE for commit extend)

When user choose stash or fixup commit mode, a git log is shown in quick fix window,and user can choose which commit to fixup/stash from here.

[2015-10-26 21:57] jreybert opened #24 "Feature: add a git push command / mapping"
The behavior to choose remote and remote branch still need to be defined.

[2015-10-27 08:58] jreybert commented on #15
At least, it seems to be an "integration only" problem...

[2015-10-27 10:33] jreybert opened #25 "Feature: add mappings to jump to next/previous hunk"
These mapping may also open diff files if next hunk is hidden

[2015-10-28 08:45] jreybert opened #26 "bug: fix stash display/folding"

[2015-10-30 02:18] firedev opened #27 "Error when staging binary files"
[code]

[2015-10-30 08:55] jreybert commented on #27
OK, this is an easy one (if all bugs could be as easy...). I'll fix it during the week end.

[2015-10-30 15:46] jreybert opened #28 "feature: by default, never show untracked file diff"

[2015-10-31 16:22] hoschi commented on #18
I updated the plugin and configured it to show all files/hunk expanded, works like a charm :+1:

[2015-10-31 23:47] jreybert commented on #18
glad to hear it works. I am curious, did you use global parameters or show_magi() parameter with a new mapping?

[2015-11-01 00:42] #27 closed

[2015-11-01 07:45] hoschi commented on #18
I used the global parameters to make a "show all hunks" (default) version. When I run into performance or "too much diff" problems, I think about how to use show_magit() function to fix this.

[2015-11-01 09:29] jreybert commented on #18
I have several ideas for performance issues.

For example, add a configuration parameter to never show untracked files (see #28).

Another optimization should also appear soon in next, optimizing performance for closed files.

[2015-11-04 13:31] radmen commented on #25
:+1:

[2015-11-04 14:54] zimski opened #29 "feature: let vimagit handle multiple git repository"
Hello,
Firstly, i want to thank you for this valuable plugin.

When i changes directories inside vim (switch between projects) Magit not follow me.
1.i am in projet 1, magit works perfectly
2. change project ( i use sessions)
3. when i fire up again `magit` it's still show me the previous git of the previous project.

to switch correctly i need to exit vim and restart it.

If you can show me how r

[2015-11-04 15:03] jreybert commented on #29
Hi Zimski,

actually, this non feature is not described, and should be clearly statuated in the README.

So no, vimagit does not support several git project for the moment. I have some ideas for how implement it, I just need to find some time.

vimagit still miss a lot of cool features, I can't say when I will add this one.

I will chhose a set of features for next release soon, I will see if I ca

[2015-11-04 15:18] zimski commented on #29
Hi JreyBert,
thanks for the quick reply.
I am a big noob in `vim script` but i will learn this this and it will be cool if i can contribute to this plugin with this feature.

I you have some ideas how to do this or you see this feature, let me know.

[2015-11-04 15:24] h3xx opened #30 "Uncaught exception when staging/unstaging multiple files"
Magit version affected: <1.4.1> 3c3baa3241f7490c3b1b38b0bc3099f172ab8327

Steps to reproduce:

1. Run `:Magit` while running vim with no arguments from a git working directory with unstaged changes.
2. Move cursor down to Unstaged changes section on the line with the first unstaged file.
3. Press <kbd>V</kbd> to enter VISUAL LINE mode.
4. Select any number of lines in the Unstaged changes section.

[2015-11-04 16:25] zimski commented on #29
I found a quick fix fot this issue/feature.

I am already using a  `vim-rooter` plugin who will set the right `pwd` for me ( he chooses the parent folder where he founds the `.git`

so i commented in `autoloads/magit/utils.vim` some commands

[code]

And now it works fine :)

[2015-11-04 21:44] jreybert commented on #30
Hi h3xx,

stage multiple files at once by visually selecting them is not supported for the moment. I know this would be a great feature. I am planning to integrate such feature, but I don't know when.

Anyway, maybe the documentation is not clear enough about this limitation. [Here](https://github.com/jreybert/vimagit#local-mappings) you can see that:

For your other points:

I am not comfortable

[2015-11-04 21:45] jreybert opened #32 "feature: allow unstage by visual selection"

[2015-11-04 21:48] jreybert opened #33 "doc: add a section about visual selection"
including current limitations:
* unstage
* only within a hunk

[2015-11-04 21:49] jreybert commented on #30
Splitted issue into:
- #32
- #33

[2015-11-04 22:03] jreybert opened #34 "feature: handle multiple git repositories"
proposed by @zimski

[2015-11-04 22:11] h3xx commented on #30
Don't you think that if the feature simply isn't implemented, it shouldn't cause the code to break and throw an exception?

I'm not expecting this feature to be created, I'm just reporting that I was able to **very easily** cause the plugin to [scream and die](http://www.catb.org/jargon/html/S/scream-and-die.html) simply by doing what seemed to me (as a long-time vim-fugitive user) to be normal in

[2015-11-04 23:13] #30 closed

[2015-11-04 23:30] jreybert commented on #30
You were right, I missed your point.

Thanks

[2015-11-05 02:48] goweol opened #35 "magit buffer become empty after switching to other window and back"
I use 'next' branch.
If I type \<C-]\> in a magit buffer and back by typing \<C-t\>, there's empty buffer.
Hope it preserve its content or displays it again.

[2015-11-05 04:45] goweol opened #36 "magit commands are slow"
:Magit or commands in magit buffer took some time.
master branch took about 5 seconds and next branch took about 3 seconds on my real project repo (89MiB of git objects).

So that, I made a simple repo and test vimagit's 'next' branch.
<blockquote>
$ mkdir test; cd test; git init<br>
$ echo 1 > 1;  git add 1; git commit -m test<br>
$ echo 1 >> 1<br>
$ gvim<br>
</blockquote>
and I run ':Magit' and

[2015-11-05 04:49] goweol commented on #36
You wrote on vim mailing list:

<blockquote>
could you try this branch of vimagit:
https://github.com/jreybert/vimagit/tree/dev/test_filetype
Open magit in your simple repository, it should be slow as before. Then, from the magit buffer, type;
:set ft=txt
and try to refresh. Is it still slow?
</blockquote>

I don't understand 'try to refresh'.
Does it mean '<C-L>'?  Then, refresh is fine on next b

[2015-11-05 06:30] haifengkao opened #37 "hide stash diffs by default"
vimagit will show all the diffs in stashes without any folding.
It makes the `magic-playground` unnecessarily cluttered

[2015-11-05 06:32] haifengkao opened #38 "pressing 'enter' on a deleted filename will hang vim"
If I press 'enter' on a deleted filename, the vim will become unresponsive

[2015-11-05 08:37] jreybert commented on #37
You are right, something in release 1.4 broke the stash folding.

I included the stashes because it was easy, but it is not very useful for the moment as it is read only.

I'll soon disable stash display by default.

[2015-11-05 08:40] jreybert commented on #38
In a terminal, could you give me the output of this command please:

[2015-11-05 08:54] haifengkao commented on #38
[code]

[2015-11-05 08:55] haifengkao commented on #37
thanks

[2015-11-05 09:07] jreybert commented on #36
goweol,

thanks for your extansive bug report.

Yes, 2 seconds is far too slow for a simple repository in one single diff! Thanks for your proposal to help me with this speed issue.

When I ask you to refresh the vimagit buffer, I mean press  <kbd>R</kbd> in the buffer.

But further investigation, could I ask you to install the Tim Pope plugin [vim-scriptease](https://github.com/tpope/vim-scriptea

[2015-11-05 09:43] goweol commented on #36
On the dev/test_filetype branch:
With ft=magit:
  1.095 seconds to run :call magit#update_buffer()

With ft=txt:
  1.054 seconds to run :call magit#update_buffer()

On the next branch:
With ft=magit:
  1.058 seconds to run :call magit#update_buffer()

With ft=txt:
  1.068 seconds to run :call magit#update_buffer()

I ran 3 times for each setting and take lowest value.

[2015-11-05 12:59] jreybert commented on #36
Well,

I am trying to reproduce your environment. I tried with gvim 7.4.898 and git  2.6.2.280.g74301d6.

returns in 0.2 seconds...

However, I am facing a weird behavior that I did not see before.

Staging the file is OK:

But unstaging can be very very slow:

I don't know if it is related to your problem, but this is a first lead to me.

Yummy, let's go in vimscript profiling!

[2015-11-06 10:03] kdurant opened #39 "use it on Windows 10"
Default config for vimagit and use `Magit` command
[code]

[2015-11-06 12:42] jreybert commented on #39
Hi kdurant,

I don't have any easy access to a windows machine. Maybe you are the first windows user, I can't tell :)

I did a blind shot with  106713019bab37c004350ea26f4d699d4a4bd732 . Test branch next and tell me if it fixes anything for you.

Anyway, I can't say that vimagit is supported on windows. Travis doesn't offer Windows machine for regression test. If I break something, I won't know un

[2015-11-06 22:12] jreybert commented on #38
halfengkao, I believe that you did  the git diff when your file was staged, right?

Could you please perform the git diff when the deletion of your file is not staged?

Furethermore, could you please give me your vim and git versions?

[2015-11-07 07:17] haifengkao commented on #38
Yes, the file is staged.
vim version: 7.4
git version: 2.5.3
If I unstage the file, it will be

[code]

It turns out that I am a little impatient.
After I pressed enter,  Vim will be unresponsive for about 10 seconds.
After 10 seconds, the diff result will be displayed correctly.

[2015-11-09 06:20] kdurant commented on #39
As same as the last

[2015-11-09 09:03] jreybert commented on #39
Is it the exact same error message?

[2015-11-10 13:11] jreybert commented on #38
It is weird that vim behave so slowly for such display. It is only 125 lines to display.

Is vimagit as slow when displaying such amount of diff, but for a modified or a new file diffs?

[2015-11-10 22:23] #33 closed

[2015-11-10 22:23] #35 closed

[2015-11-10 22:23] #37 closed

[2015-11-11 00:42] goweol opened #41 "'q' or ':bw' does not work after ':only'"
I want to see the magit buffer only after I do ':Magit'.
<blockquote>
$ LANG= gvim test.c<br>
:Magit<br>
:only<br>
q<br>
</blockquote>
There occurs 'E444: Cannot close last window'.
If I run ':bw', there occurs "E94: No matching buffer for :call magit#commit_command('CC')".
<blockquote>
:ls<br>
  1 #h   "test.c"                       line 0<br>
  2 %a   "magit-playground"             line 1<br>
:b

[2015-11-11 22:06] jreybert commented on #36
Hmm, my system was just crazy. Two days later, I was not able to reproduce this behavior on my system...

Anyway, I am still concerned about your performance issue.

Could you please get the next branch, and perform a profiling of vimagit execution for me?
- start vim
- :call magit#utils#start_profile("/tmp/vimagit.log")
- :call magit#show_magit('v')
- :call magit#update_buffer()
- exit vim

thank

[2015-11-12 11:54] #28 closed

[2015-11-13 05:12] goweol commented on #36
It seems system() is too slow.

[vimagit.log.txt](https://github.com/jreybert/vimagit/files/33618/vimagit.log.txt)

Now, I compare timing between console and GUI version.

<blockquote>
$ vim<br>
:Magit<br>
:Time call magit#update_buffer()<br>
  0.602 seconds to run :call magit#update_buffer()<br>
:gui<br>
:Time call magit#update_buffer()<br>
  0.809 seconds to run :call magit#update_buffer()
</blo

[2015-11-13 08:58] jreybert commented on #36
Hi,

in https://github.com/jreybert/vimagit/issues/36#issuecomment-154007794, magit#update_buffer ran in 1 second. Now, I can see it runs in 0.6  seconds? Do you run it with the same repository?

Could you run magit#update_buffer with your simple repository example, as in https://github.com/jreybert/vimagit/issues/36#issue-115208434 please? In your traces, I can see that there is one submodule in

[2015-11-13 09:20] goweol commented on #41
Now, I get error below.

<blockquote>
Error detected while processing function magit#close_magit:<br>
line    5:<br>
E499: Empty file name for '%' or '#', only works with ":p:h": ^I^I^Iedit #<br>
</blockquote>

Test sequence is.

<blockquote>
$ LANG= gvim<br>
:Magit<br>
:only<br>
q
</blockquote>

Vimagit version is:
$ git describe --long --dirty --tags
1.4.1-16-gc6a2044

[2015-11-13 10:00] goweol commented on #36
I believe I ran it in my simple repo.

I think timing changes may caused by host and guest status.
Because there are so many background processes (windows host and linux guest), I cannot run test at same circumstances.
Or it may related to my VIM settings change.
Or VIM itself changes.  I updated latest and build with HUGE option for profiling.
Previous version was build with 'BIG' feature option

[2015-11-13 22:07] jreybert commented on #41
If your problem is not fixed, feel free to reopen the issue.

[2015-11-13 22:23] slackhead opened #43 "Pressing 'q' does not close magit, but switches buffer instead."
I've noticed that post 1.4 when I press 'q' in the playground it does not close the buffer, it simply switches to the file buffer, leaving playground open.

If I switch to the playground buffer and press 'q' then it will then close it and the file.

[2015-11-14 08:15] jreybert commented on #43
There has been some recent changes around this.

Could you try the very last master branch and confirm that the problem persists?

[2015-11-14 08:52] slackhead commented on #43
Yes, I've tried with 1.4.2 today 14th Nov and then compared with 14.1. I also recloned the repo to see if I'd done something wrong.

[2015-11-14 09:02] jreybert commented on #43
Are you on master or on tag 1.4.2?

Do you have the commit 795e280 ?

If your are up to date with 795e280 , could you describe more precisely your problem, including for example:
- the output of :buffers before you open magit-playground, during it is opened, once it is closed
- how do you open the magit playground
- what is your vesion of vim

could you also provide a step by step command to repro

[2015-11-14 09:16] slackhead commented on #43
If I checkout  795e280 the results are the same as with master. Tag is 1.4.2.

These are the steps:

I start vim
:buffers shows '1 %a   "[No Name]"                    line 1'
I use leader m or type :Magit
I press 'q'
:buffers shows:
  1 #a   "[No Name]"                    line 1
  2 %a   "magit-playground"             line 1
:bnext
I press 'q'
Playground closes
Vim exits _if_ there are no unsaved

[2015-11-14 14:56] jreybert commented on #43
There's something I don't understand

could you give the :buffers output here?

Right now, the active buffer IS magit-playground. Are you sure? It means that magit#close_magit() did not work.

Now, I am totally lost. You were in magit-playground. With :bnext, you should now be in [No name]. If it is the case, 'q' should not be active here. Could you give me the output of :buffers again here?

And,

[2015-11-14 15:14] slackhead commented on #43
I don't know how to quote here, but:

"Right now, the active buffer IS magit-playground. Are you sure? It means that magit#close_magit() did not work."

That's what I'm saying - it doesn't close, it just switches vim to display the next buffer.

vim
buffers
  1 %a   "[No Name]"                    line 1
Magit
buffers
  1 #a   "[No Name]"                    line 1
  2 %a   "magit-playground"

[2015-11-14 20:03] jreybert commented on #43
Indeed, quit the magit buffer means hiding it. If I read the log correctly, press q hide the playground.

So, what do you expect with q?

[2015-11-14 20:57] slackhead commented on #43
In 1.4 it would close it and it wouldn't show in buffer list or airline buffer bar.

[2015-11-14 21:12] slackhead commented on #43
Hmm not sure why, but I just switched to 1.4 and then back to 1.4.2 and it is closing it again.

My git prompt shows that I'm on :19de192

[2015-11-15 07:21] slackhead commented on #43
In function! magit#close_magit() how about using bdelete instead of close?

function! magit#close_magit()
    try
        bdelete
    catch /^Vim\%((\a+))\=:E444/
        try
            edit #
        catch /^Vim\%((\a+))\=:E\%(194|499)/
            quit
        endtry
    endtry
endfunction

[2015-11-16 06:14] goweol opened #44 "support buffer-based git repo?"
When I open a file in another git repo, ':Magit' shows status for current repo (where I started vim).
Fugitive (Gstatus) shows status for another repo (for current buffer).

I hope magit support buffer-based git repo (optional?).

BTW, ':cd %:p:h' didnot help.  :Magit shows old repo status, though I changed to another repo.  I expected magit shows status for VIM's current directory.
It may related

[2015-11-16 09:52] jreybert commented on #44
No, magit does not handle it for the moment.

See #29 and #34

[2015-11-16 13:39] haifengkao commented on #38
Yes. Actually the amount of time is the same.
It has nothing to do with the amount of diff.
The response time for 305 lines and 6 lines of diff are exactly the same.

But it has something to do with the size of repository.
The larger the repository, the longer it takes to display.

[2015-11-16 13:42] haifengkao commented on #44
#29 has a easy fix for it

[2015-11-16 14:55] jreybert commented on #44
The fix is easy, but I can't predict what are the side effects. vimagit use a lot of buffer variables to cache some stuff. But I have no time at this moment to perform a deep code review to check that nothing is broken, and the actual test suite does not cover this case.

Like I said in #29, I prefer a solution where I open a new buffer for each git repository, but it asks some time to develop.

A

[2015-11-17 10:28] slackhead commented on #43
Perhaps some screenshots will help to see what I mean:

I have 3 files open: a, b and c:
http://www.r0t.uk/sshots/shot-9182810054.png

:Magit
http://www.r0t.uk/sshots/shot-2609973000.png

After pressing 'q':
http://www.r0t.uk/sshots/shot-0297197584.png

:ls
http://www.r0t.uk/sshots/shot-1032706793.png

As you can see it is still visible in the airline buffer bar.

[2015-11-17 10:53] jreybert commented on #43
Hi slackhead,

I did not forgot you! Thanks for the screenshots.

I am working on a solution, but there is some corner cases I want to fix before pushing it. I hope to push it in the next days.

[2015-11-17 10:58] jreybert commented on #38
Hi,

could you please get the branch 'next', and send me a profiling report please?
- start vim
- :call magit#utils#start_profile("/tmp/vimagit.log")
- :call magit#show_magit('v')
- press enter on your deleted file
- exit vim

Moreover, do you experience this vimagit freeze only when showing the deleted file, or is it for any operation in vaimgit buffer? And from a terminal, could you give me the

[2015-11-17 13:04] jreybert commented on #43
I believe it is fixed in branch next.

[2015-11-17 13:18] slackhead commented on #43
Thanks.

[2015-11-17 13:18] #43 closed

[2015-11-17 17:55] jreybert commented on #44
I believe that this feature is now added in branch dev/multiple_repo.

I'll wait for your feedback before merging it in next.

[2015-11-17 17:55] jreybert commented on #34
I believe that this feature is now added in branch dev/multiple_repo.

I'll wait for your feedback before merging it in next.

[2015-11-17 17:55] jreybert commented on #29
I believe that this feature is now added in branch dev/multiple_repo.

I'll wait for your feedback before merging it in next.

[2015-11-17 18:32] zimski commented on #29
Hi,
Nice to see this feature,
I get some general advices about the commit message format:
- try to have a small commit message (< 80 char)
- For extra info you can append new line and add the extra info
- No need to have the updated files in the commit message, Git handle this perfectly ;)
- Add the Issues number at the beginning of the commit message
- try to have one commit for one fix. this wil

[2015-11-17 18:40] jreybert commented on #29
Hi zimski,

I hope you'll enjoy the feature. Please test it carefully, and chase the corner cases :)

I am lazy, and it helps me writing release notes (I am a guilty huge fan of git log --oneline)

Same as previsou point. Knowing the touched file(s) gives me a lot of informations about the commit.

The issue number is not an important information. I prefer put it at the end of my long long lines,

[2015-11-17 19:42] zimski commented on #29
Hi,
We are all lazy, but if you like to get contribution and make your git clean.. you need to comply to some best practices, in the beautiful open source world we are not alone ;) and the duty of the contributor/maintainer is to make his contribution simple to understand and make easier the futur contributions.

The number of issue is important, imagine after 6 months you need to get more info ab

[2015-11-17 22:05] jreybert commented on #29
I appreciate your concern.

I know this is important to make the source and the repository easy and pleasant to use for enthusiast contributors.

I may be completely blind, but I think this project respects number of good practices.

Each project define its own rules, some useful, other reflecting maintainer habits. Anyway, I don't critic the rules you described,  they are known to be good rules.

[2015-11-17 23:50] goweol commented on #44
dev/multiple_repo works fine for me

Thanks

[2015-11-17 23:57] goweol commented on #41
I noticed 'q' problem while I test the dev/multiple_repo branch.
And confirmed this problem exists in next branch.

<blockquote>
$ cd ~/.vim/bundle/vimagit<br>
$ gvim README.md<br>
:Magit<br>
:only<br>
q<br>
:e ../../vimrc<br>
:Magit<br>
:only<br>
q
</blockquote>

Now, vim quits though there are 'README.md' and 'vimrc' buffers.

[2015-11-18 08:20] jreybert commented on #41
Does it work well in next branch?

[2015-11-18 11:51] jreybert commented on #41
I can't reproduce your issue.

Is vimrc in a git repository?

[2015-11-18 11:52] jreybert commented on #41
OK, I can reproduce if 2nd opened file is not in a git repository

[2015-11-18 13:04] jreybert commented on #41
magit#show_magit() function should be safer now.

[2015-11-19 08:31] goweol commented on #41
The 2nd opend file was in GIT repo.  But I even didn't need to open 2nd file.  Just call the ':Magit|:only|q' twice reproduced the problem.
VIM quits with sequence below.

<pre>
gvim README.me
\M&lt;C-W&gt;oq\M&lt;C-W&gt;oq
</pre>

Now, I cannot reproduce this problem on the dev/multiple_repo (8f8bea6d).
I can reproduce this problem on next (4237501b).
I hope it merged to 'next' soon.

Thanks.

[2015-11-19 08:47] jreybert commented on #41
I am waiting some other feedbacks about the multi git repository before merging it to next.

Glad it works.

[2015-11-20 16:46] zimski commented on #34
Hi,
It's works fine for me :)
Thx

[2015-11-20 16:56] zimski opened #45 "[neovim] nvim hangs on git repo with submodules"
When i fire up `vimagit` on a `git repo` with several submodules. it hangs and consume 100% of one cpu core.

The hang in noticed only on `neovim`

the traditional `vim` take some seconds. but no hangs noticed.
[code]

[2015-11-20 17:35] jreybert commented on #45
Could you post the output of git submodule status please? And also git status.

[2015-11-20 17:36] jreybert commented on #34
Food to hear. I'll merge in next soon.

Thanks for your report

[2015-11-20 17:46] zimski commented on #45
[code]

[code]

[2015-11-20 21:18] jreybert commented on #45
Hm, I can't reproduce. I can see you have new, modified and uninitialized submodules. I tried to reproduce such behavior, but I don't see any stall.

I am using neovim too. You did not mention the precise version of neovim you are using. Don't you have any sha1 or something more precise in :version?

Then, could you profile the stalling execution:

<pre>
:call magit#utils#start_profile("/tmp/log")

[2015-11-20 22:03] zimski commented on #45
I upgrated `neovim` to the last version from the `ubuntu depo`

[code]

I succeed to stop the hang by pressing multiple times `ctrl + c`

The profile file is pretty big, but this  data caught my attention ( you will find the complete profiles at the end of this post)

[code]

I can't understand why the `magit#git#top_dir` is called 12 times. i run only one time `:Magit`
I found any function that h

[2015-11-20 22:46] jreybert commented on #45
Grumf, the faulty function profiling has not been dumped...

So, we need drastic measures!
- start neovim in safe mode: `nvim -u /dev/null`
- add vimagit path in runtime path: `:set runtimepath+=/path/to/vimagit/`
- source vimagit plugin: `:source /path/to/vimagit/plugin/magit.vim`
- `:15verbose call magit#show_magit('v')`
- press Space until you stall

We should get the backtrace of the stalling

[2015-11-20 23:01] jreybert commented on #45
BTW, what is your git version?

[2015-11-20 23:08] jreybert commented on #45
Ouch, I checked a second time your git status. What the hell are you doing with vim-javascript submodule?

The submodule seems to be new,added,modified and also maybe deleted in the same time Oô

Could you report:
- git diff --staged .gitmodules
- git submodule --staged summary
- git submodule summary

If the fault comes from here, thanks, I would never have written such corner case test :D

[2015-11-21 12:42] jreybert commented on #39
Hi there,

I will need more feedback to try to fix vimagit for windows 10. Could you please try the next branch, and give the exact error message please?

[2015-11-24 11:59] jreybert commented on #45
hi zimski, do you have any update about this bug?

[2015-11-24 12:07] zimski commented on #45
Hi Jerome,
Sorry, i get a lot of works to do this days, i will try to find some free times during this week to investigate this issue.

Have a good day ;)

[2015-11-24 12:09] jreybert commented on #45
Thanks!

[2015-11-25 09:30] jreybert opened #46 "Remove inline help by default"

[2015-11-25 22:02] mhartington opened #47 "Demo video for readme"
Hey there, so love the plugin so far.

I recorded a demo of the plugin with a voice over.

Feel free to use it how ever you want.

Cheers!
https://youtu.be/_3wMmmVi6bU

[2015-11-26 08:51] jreybert commented on #47
Thanks for your video, you did a great job to present vimagit!

I'll add it to the readme soon.

[2015-11-26 12:37] #47 closed

[2015-11-26 12:42] jreybert commented on #47
BTW, in your video, you seems confused with the inline help in magit buffer. This is only plain text, remembering all vimagit comands. You can easily permanently hide it by setting in your vimrc:

Anyway, it seems that you are the only one to be confused with this. I am planning to make the default behavior to hide inline help in next release (see #46). What do you think? Is this help had helped y

[2015-11-26 17:55] mhartington commented on #47
Well, I knew what it was, but just wanted to come at the video as if it was a new users who didn't know anything.

Personally I'd be okay with the inline help commands hidden. Maybe hide all the command except for the `h` command to toggle the help?

[2015-11-26 21:01] jreybert commented on #47
Yes, that would be a good compromise.

Thanks for your feedback.

[2015-11-30 23:35] #25 closed

[2015-11-30 23:35] #41 closed

[2015-11-30 23:35] #44 closed

[2015-11-30 23:35] #46 closed

[2015-11-30 23:56] jreybert opened #48 "feature: add mapping to jump to the file for the diff under the cursor"

[2015-12-01 10:10] jreybert opened #49 "bug: fail when submodule is only about untracked content"

[2015-12-01 11:01] #49 closed

[2015-12-02 01:32] slackhead commented on #32
+1 for this

It would certainly make it a lot faster to work with.

[2015-12-02 08:20] jreybert commented on #32
Faster? Do you **un**stage a lot? I just would like to be sure you are not misunderstanding this issue.

[2015-12-02 13:19] slackhead commented on #32
Er no, I meant to stage by selection. Or does it do that already?

[2015-12-02 13:35] jreybert commented on #32
That's what I thought :) And yes, it is already possible! Visual select some lines, and press **S**. See the doc or the readme for other possibilities like **L** or **M**.

[2015-12-02 14:56] #29 closed

[2015-12-02 14:56] #34 closed

[2015-12-03 21:45] dfishburn commented on #39
When I try this on Windows 8.1, using Vim 7.4.1-930.
:Magit

[code]

Using the VimScript debugger (:h breakadd), I was able to see the following:

[code]

Just looking at the command line executed:
`GIT_CONFIG=/dev/null GIT_CONFIG_NOSYSTEM=1 XDG_CONFIG_HOME=/ git`

No way that will work on Windows.  The command must be an executable.
"git.exe" or something, it cannot be preceded by stuff like this

[2015-12-03 22:04] dfishburn opened #50 "Push support - including complicated ones"
I see on the homepage you have:
`Add a push function, taking care if needed about the remote repository and branch.`

It would be nice to have some way to configure this via the vimrc.

For example the Perforce (source control) plugin allows you to specify which servers to use:
`let g:p4Presets = ['port1 client1 user1', 'port2 client2 user2' ]`

Then you can use :PFSwitch 1 to choose the first ite

[2015-12-04 09:00] jreybert commented on #39
Thanks a lot @dfishburn !

I must take the time to install a windows virtual machine to perform tests. I hope I will include windows support in next release, but it should be fixed in next branch soon.

Anyway, I won't officially support windows before I setup a continuous inegration for windows, and I fear it will take a lot of time (mush more than fix the potential bugs :/ ). I will test www.app

[2015-12-04 09:03] jreybert commented on #50
Hi David,

thanks for your report, it is reaaly helpful to get workflows from other people!

I am not sure to fully understand the perforce worklow, do you have a link to a usage example?

Thanks

[2015-12-04 13:25] dfishburn commented on #50
Don't worry about the P4 workflow as it is different.

Basically, I stage a bunch of changes.
Then I CC and commit the change.
Now I want to git push those changes.

The git push command I have to run is complicated, so I want those stored somewhere.

Then in the :Magit window, just like hitting CC, I want to hit PP (or something) to do a git push, but the actual command run by :Magit would be a c

[2015-12-04 13:30] dfishburn commented on #39
I understand, about not officially supporting windows until you have a valid environment to test on.

If you do make some of the changes I have outlined, I am happy to test them.

So far with the changes I outlined above, your plugin has allowed me to perform my first ever git commits.  So thank you very much.  I tried Vim's fugitive plugin but I found Vimagit much more easy to use and understand.

[2015-12-04 22:36] mhartington opened #51 "Make Magit window more modal"
Currently Magit opens as a new buffer next to any active windows.

It would be great if there was an option to open Magit as a modal window replacing the current buffer.
Similar to how you can set up unite.vim

![](http://www.codeography.com/images/unite-modal-c.gif)

[2015-12-05 00:10] jreybert commented on #50
Basically, for the moment, I am thinking to provide this function:
`function! magit#push(remote_name, remote_branch_name)`

`remote_name` and `remote_branch_name` are optional.

When these parameters are set, the current branch is pushed silently.

When the parameters are not set (ie. the user calls `magit#push()`, an input is prompt to ask the user to set the remote name, then to set the remote b

[2015-12-05 00:21] jreybert commented on #51
I am not sure to understand the modal thing.

Try `MagitOnly` and let me know if it is what you want.

[2015-12-05 00:25] jreybert commented on #50
BTW, let the user the opportunity to define it's own git command is a good idea!

Do you really need different git commands among projects?

[2015-12-05 02:58] mhartington commented on #51
Yes! That's what I mean. Sorry, was kind of hard to describe. Next time I'll be sure to RTM.

Mike Hartington

[2015-12-05 21:49] #51 closed

[2015-12-05 22:32] jreybert commented on #51
It's good to see that some stuff I add to vimagit is actually useful for someone 😁

[2015-12-07 13:33] fpnick opened #52 "Cannot stage changes"
Hi,

I installed Vimagit via bundle and made a small change to my test-repository (which I could share, if necessary.)

Then I ran ':Magit' and got a buffer showing staged and unstaged changes.
I moved the cursor to the line 'modified: bar' under 'unstaged changes and pressed 'S' to stage the changes.

All I got though was an error message saying

Where "Fehler beim Ausführen" means "Error executi

[2015-12-07 23:23] jreybert commented on #52
Hi,

could you please checkout the branch [dev/issue_52](https://github.com/jreybert/vimagit/tree/dev/issue_52) and give me the error output? Please note that this branch won't fix your issue.

Futhermore, what is your git version? Do you use non ascii characters in your filenames?

Thanks for your report.

[2015-12-08 09:32] fpnick commented on #52
Thanks for having a look at this. With the new branch the error looks like this (translated from German to English by me):

I'm trying this on my workstation at work and unfortunately my git version is pretty old: 1.7.1.
If this should turn out to be the problem, I could talk to our IT department though...

The filename is 'bar', so no non-ascii charactars.

Cheers,
Fabian.

[2015-12-08 09:55] jreybert commented on #52
OK, I think your old git version is the problem. Actually, `--patch` may be overkill as it is the default for diff.

Let me check at which git version `diff --patch` appeared, and I let disable this patch for older versions.

[2015-12-08 10:08] jreybert commented on #52
--patch is an alias of -p, and appeared on git 1.7.10.

[branch next](https://github.com/jreybert/vimagit/tree/next) should fix your problem.

[2015-12-08 10:10] fpnick commented on #52
Now it works, thanks!

[2015-12-08 10:30] jreybert commented on #52
Thank you for your responsiveness!

[2015-12-08 10:32] jreybert commented on #52
I reopen it until it is merged in master

[2015-12-08 12:42] #52 closed

[2015-12-08 13:34] jreybert opened #53 "Check if it worth to use git -C instead of moving from path to path"
This feature is from git 1.8.5

[2016-01-05 10:56] jreybert opened #57 "Refresh magit buffer delete ongoing commit message"
When refreshing, detect if a commit message is ongoing, and save it. Write it to EDIT_COMMITMSG is not a good lead.

[2016-01-05 10:57] jreybert commented on #45
Hi zimski,

do you still have freeze with submodules?

If not, could you please close the issue?

[2016-01-05 11:09] jreybert commented on #38
Hi,

do you encounter the issue? If not, could you please close the issue?

Thanks

[2016-01-05 12:17] haifengkao commented on #38
It is gone. Thanks

[2016-01-05 12:17] #38 closed

[2016-01-05 19:10] mhartington opened #58 "DDD to discard a change throws an error"
Trying to discard any changes throws an error in nevoid

![screen shot 2016-01-05 at 2 08 16 pm](https://cloud.githubusercontent.com/assets/2835826/12124901/20d9a064-b3b6-11e5-9261-f3355230cf52.png)

[2016-01-06 07:59] jreybert commented on #58
Hi,

this error also appears with vim? Could you please dump the output of 'git status'?

[2016-01-09 12:13] dkns opened #59 "Any plans to add blame command?"
Hi, awesome plugin! Thanks a lot for creating it. One thing I would love to see is blame command implemented. Any plans to add it in the future?

[2016-01-09 12:22] fpnick commented on #59
+1

[2016-01-10 09:27] jreybert commented on #59
Hi

[fugitive](https://github.com/tpope/vim-fugitive) and [vim-gita](https://github.com/lambdalisue/vim-gita) already implement nice git blame feature (gita's one is really nice, have a look).

Actually, both existing solutions seems OK to me. I don't intend to copy something working well. But if you have any idea of a git blame integrating well in the magit workflow, let me know!

I'll check how

[2016-01-13 12:07] dkns commented on #59
Yeah, vim-gita is awesome but I'd rather not load separate vim plugin just to have nice looking blame interface. Let me know if you need any help with developing this one.

[2016-01-20 15:45] dfishburn opened #60 "Error with binary files"
If I try to add a .zip file using S in the Magit window I get the following:
[code]

[2016-01-21 07:46] jreybert commented on #60
Hi dfishburn,

could you give me the output of the command:

[code]

Thanks

[2016-01-21 13:33] dfishburn commented on #60
The file utility does not exist on Windows.
I couldn't find any good alternatives for it either.

But, this is just a standard Zip file I created with the 7-zip open source utility.

[2016-01-21 14:00] jreybert commented on #60
Well, that's a shame I do not check the result of system("file...") command...

I'll try to figure a way to detect binary files on windows. No matter that is just a simple zip file, if vimagit does not detect that a modified file is a binary, it will fail to stage this modified file.

[2016-02-01 06:37] jebaum opened #61 "False positive binary file"
First of all, awesome plugin! It's already making my life way more pleasant.

When I made a small change to my zshrc (viewable here: https://gist.github.com/anonymous/59dde6c409a776f8d18e), vimagit detected it as a binary file and didn't show a diff. This is due to the characters in quotes on lines 144 and 151. These characters aren't viewable in a web browser as far as I know, but you can see the

[2016-02-01 06:52] jebaum opened #62 "Bug in default folding behavior"
Without setting `g:magit_default_fold_level`, or setting it to 1, when I first load `:Magit`, the hunks are unfolded. I figured out this is because my vimrc has `set foldnestmax=1` in it, which I like for normal editing, but having a higher foldnestmax (like the vim default of 20) is needed for magit. I think the Magit buffer ought to do `setlocal foldnestmax=20` to solve this.

[2016-02-01 07:24] jreybert commented on #61
Hi jebaum,

thanks for your enthusiasm about vimagit!

I already encountered this false positive, on a vim config file :)

As vim does not embed function do detect binary file, I must use `file` Unix command. If `file` returns a wrong result, I don't know how to perform a better guess than him.

This is indubitably a bug, but for now I don't see how to resolve it.

[2016-02-01 07:27] jreybert commented on #62
Hi,

it seems to be the proper way to do that. Would you mind to add it in vimagit and propose a pull request? It should be in `magit#show_magit` function, near other `setlocal`assignments.

[2016-02-01 07:47] jebaum commented on #61
I didn't realize `file` was identifying it as binary. Interesting. A potential workaround could be checking the output of `git diff` for a file and seeing if it has a textual diff or if git says it's a binary one. Not sure how much work that would be, or how much it might hurt performance. If you don't think that's a good solution, I'll look into this to see if there are more robust ways to detect

[2016-02-01 07:47] jebaum commented on #62
I'll do that, thanks for pointing me to the right place

[2016-02-01 07:58] jreybert commented on #61
I though about using git for this job. I was just worrying about different languages, but it should be possible to force language (it should also work for OSX and windows). Actually, use git could also fix #60 !

I'll take a look for it soon. If you want to contribute, help yourself :)

[2016-02-01 08:17] jreybert commented on #62
Nice! May I ask you to push again, adding "(fix #62)" at the end of the title commit message

[2016-02-02 02:46] jebaum commented on #62
done

[2016-02-02 02:55] jebaum opened #64 "Refine undo behavior"
Pressing `u` does a couple of things that I don't think are ideal:

1) immediately after running `Magit`, it will clear the whole buffer
2) toggling display of "help" can be undone with `u`

If `undo` within the context of the Magit buffer would only undo Magit actions (and same with redo of course) it would improve usability. The above two cases are the only two I've noticed where I hit `u` and s

[2016-02-02 13:17] #62 closed

[2016-02-02 14:27] dfishburn opened #65 "Slow to open (+45 seconds)"
I am running on Windows, when executing shell commands with Vim, there is a little popup that shows up in the Windows taskbar.  So if I run :grep or other such commands, this "cmd.exe" task will be present until the task completes.

When I open :Magit
I can see that cmd.exe window flashing over and over and over.

I would like to know a couple of things.
1. What commands are actually being execute

[2016-02-02 14:35] fpnick commented on #65
For me it also takes quite long under Linux, at least with our main (fairly big) repository.
This is sad, but I guess it's due to Vimagit's early development stage. Let's hope it gets better, soon ;)

[2016-02-02 14:41] jreybert commented on #64
Hi,

there is a first and clean fix about your issue. Actually, you are right, letting the undo thing like this may let the user think that when it presses `u`, its last magit command is undone (which is not the case!).

This patch (that you can try with the branch `dev/undo`) clears the undo history at each magit buffer update. Then, pressing `u` won't undo the magit changes. But if the user is w

[2016-02-02 19:58] jreybert commented on #65
Hi @dfishburn

yes, you can enable a profiling function:
`:call magit#utils#start_profile("path_to_profile_output")`

yes, you can try to set:
`:let g:magit_default_show_all_files=0`

Again, it is difficult to me to enhance experience with windows, as I don't work with such environment. Someday, I will install a virtual machine with Windows, when I'll find some time :)

Hi @fpnick , thanks for you

[2016-02-02 20:30] fpnick commented on #36
#65 came up with a similar issue, so just let me add some more information here:
First let me say that everything I'm talking about refers to Linux.
I don't have any problems when working on smaller repos. Only with our big one which I cannot share unfortunately. I could give you the number of files / lines of code under version control though, if that helps narrowing down the issue.

[2016-02-02 20:38] dfishburn commented on #65
Thanks,

[code]

This changed the load time from 45 seconds to 4-7 seconds.
Once I have some changes to merge I will be able to validate what it is doing.

I will also give the logging a try and see where I get.

Thanks for the reply.
David

[2016-02-02 21:18] jreybert commented on #65
Woot, 10x speed up :clap:

Still, if you're OK to go deeper in analysis, I would need some git status output, see if play with lot of modified files, big changes in files, submodules and so on.

Anyway, thanks for your time.

[2016-02-02 21:25] jreybert commented on #36
Well, the first interesting point is the ratio between the time taken by git status command in bash and the magit buffer refresh.

For the moment, vimagit is really dumb and perform all the lookup at every refresh. I have some ideas to improve that, keeping a sort of cache, but it is tricky, and may lead to some horrible corner cases.

Actually, such hard work is not my priority, I prefer to add s

[2016-02-04 07:58] fpnick commented on #36
git status from bash: 4sec
Opening Magit in Vim: 21sec
Refreshing Magit buffer: 11sec

Magit times are with default settings.

[2016-02-04 08:31] jreybert commented on #36
Thanks for the input. Could you give me the same numbers when setting:

`let g:magit_default_show_all_files=0`

[2016-02-04 08:47] fpnick commented on #36
Sure:

Opening Magit in Vim: 11sec
Refreshing Magit Buffer: 10sec

[2016-02-04 19:17] dfishburn commented on #65
BTW, my time with 45 seconds down to 4-5 seconds, seems to be related to how many buffers I have open in Vim.

Since I restarted Vim, things are much faster and I have probably 10 files open instead of 100.  Not sure if Magit is doing anything different / buffer?  Can you let me know if I need to pursue that.

I tried the profiling:

[code]

With an appropriate filename ("C:\temp\magit_profile1.tx

[2016-02-08 08:54] jreybert commented on #65
I don't see why a lot of opened files would slow down vimagit. There may be a weird side effect, but I don't have any lead about this.

Yes, it should be written when you exit vim. Did you searched if there is a special behavior with windows?

For each file present in `git status` output, I check if this file is:
- a symlink
- a submodule
- a directory
- an empty file
- a binary file (should be fi

[2016-02-08 08:55] jreybert commented on #64
@jebaum did you try this branch? I intend to merge it to next release, let me know your point of view.

[2016-02-08 08:56] jreybert commented on #61
#60

[2016-02-08 08:57] jreybert commented on #60
May also fix #61

[2016-02-08 08:59] jreybert commented on #58
@mhartington any update about this bug?

[2016-02-08 09:00] jreybert commented on #50
This issue is related to #24

[2016-02-08 09:01] jebaum commented on #64
I'll start running that branch now and let you know. Glanced at the code, looks pretty good to me. Is it possible to get around that unwanted fold opening with something like `:silent! normal! zc`? with `foldclosed()` and `foldlevel()` it ought to be possible to make sure the folding stays the same even with nesting.

[2016-02-08 13:34] mhartington commented on #58
Hey sorry for the delay. Seems that this happens with any untracked files not already in git. Which makes sense

[2016-02-08 13:39] jreybert commented on #58
Yes, it makes sense. I wanted to delete the disacarded file in the case this file is not handled by git (it can be scary, but you do not loose more information than discarding changes in a versioned file).

Definietly, this is a bug. I will prompt an understandable message, and maybe add an option to delete the file.

[2016-02-08 20:51] jreybert commented on #61
Hi @jebaum , could you please try the dev/git_diff branch and confirm that it fixes your problem?

[2016-02-08 20:52] jreybert commented on #60
Hi @dfishburn , could you please try the branch dev/git_diff and tell me if it fixes this issue?

[2016-02-09 12:56] jreybert opened #66 "feature: add an option discard an untracked file (which means delete this file)"
Discard a change is dangerous because you loose information. Discard an untracked file means delete this file. It can be scary, but actually you don't loose more information than discarding an indexed file.

Ref #58

[2016-02-09 13:37] jreybert opened #67 "Make vimagit compliant with github-complete and/or github-issues"
There are some vimscript which complete github stuff:
- [github-issues](https://github.com/jaxbot/github-issues.vim)
- [github-complete](https://github.com/rhysd/github-complete.vim)

it could be great if they work in vimagit buffer!

[2016-02-11 12:53] #58 closed

[2016-02-11 12:53] #60 closed

[2016-02-11 12:53] #66 closed

[2016-02-11 13:00] jreybert commented on #64
Well, for the fold opening stuff, are you experiencing this? Are do you based your comment on function comment?

The function comment may be unclear, but it says that unwanted unfold may appear if the function is used at the wrong place.

[2016-02-11 13:01] #61 closed

[2016-02-11 13:22] jreybert opened #68 "Update gitgutter signs when needed"

[2016-02-11 16:45] dfishburn opened #69 "Magit version available in Vim"
I don't really see a way to get the version of the plugin that is loaded from within Vim.

The reason I ask, is I am testing over some of the master branch, so I have multiple directories of Magit.

Never really certain which one Vim loaded.

What I like to do in my plugins is take the standard loaded variable:
[code]
Use the release #:
[code]
That way from within Vim I can do:
``
:echo g:loaded_m

[2016-02-11 17:16] dfishburn commented on #50
I downloaded the master branch today.
Unfortunately, I am not certain how to test this enhancement.

When I open the :Magit window, then do:
:call magit<tab key repeatedly>

I don't see anything resembling "push".
When I open doc\magit.txt, there is nothing in there related to push.

Ahh, I see the problem, I had to use the "dev-push" branch not "master".

First problem with this branch, is it doe

[2016-02-11 17:22] jreybert commented on #69
Do you know if there are any vim plugin doing some versioning?

As long as the proper way to release vim plugin was to package them (in .vba for example), I can see some hack to propose a versioning.

But now, the proper way is to git clone a project, and an installation step is not mandatory at all.

The only way I can see would be to perform some operation on travis for example, performing some

[2016-02-11 17:46] jreybert commented on #50
Hey, good to see how active you are!

This is a quite old dev branch, I have to refresh my memory, I am not event sure this branch is working!

I rebased the dev/push branch onto next, and repushed it (you should have do the rebase instead of apply again your patches). Could you try with the forced updated dev/push branch?

About
`return call('system', a:000)`
vimagit is using systemlist a lot (be

[2016-02-12 19:16] fourjay commented on #68
Please consider a user adding a doautocmd custom event (say "MagitWritePost") to address this.
There are a stack of CVS gutter tools. I use quickfixsigns (for a couple of reasons) and there's no reason you should have to support all the variations. With a custom event you:
1) Allow other plugin writers to add integration to your tool.
2) Allow end users to add tasks to this hook themselves
:-)

[2016-02-12 20:12] jreybert commented on #68
What a wonderful request! Could you please open another issue please?

[2016-02-12 20:28] fourjay opened #70 "Request to add custom UserEvent hook"
Please consider a user adding a doautocmd custom  User event (say "MagitWritePost") at the end of a commit.
Primary perceived use case, allowing a hook to trigger VCS gutter tools to update, but there are probably other use cases.
Thanks! I've come to enjoy Magit

[2016-02-12 21:19] jreybert commented on #70
I think provide the user the buffer being updated as parameter. If you see any other interesting parameters, please add a comment to this issue.

[2016-02-13 21:15] #64 closed

[2016-02-13 21:59] jreybert commented on #70
Well, you made me discover doautocmd. That's really interesting and it could have been a clean way to perform such hook.

But it seems to lack a way to provide a parameter, or to target a given file. I would like to provide the user a way to refresh only the updated file.

[2016-02-16 02:41] fourjay commented on #70
Can you provide an autoload function that can provide the list of updated files/buffers that can be called in the event handler?

[2016-02-16 08:48] jreybert commented on #70
I finally opted for the User event solution. I am not fan passing a parameter through a global function/variable, as the event handler could read out dated data. But as current vimscript seems to be completly sequential, it should be OK.

[2016-02-18 02:55] butterflyfish opened #71 "Request to toggle diff fold using Enter"
currently, 'zo' can open diff fold while 'zc' can close diff fold.  I want to use press Enter to toggle diff fold.

my vimrc have snippet:

[2016-02-18 03:29] butterflyfish opened #72 "help message alway show default key map even it's customised"
at my vimrc, it have

but vimagit help message still  use 'S'.

[2016-02-18 09:54] jreybert commented on #72
Nice one! A pull request is more than welcome.

[2016-02-18 09:56] jreybert commented on #71
I suspect that the command `foldlevel(line('.'))` will only be evaluated once, at startup.

[2016-02-18 12:39] dfishburn commented on #71
I use the following:

[code]

zM - resets the fold
zx - opens the fold
zt - moves the first line to the top of the screen

[2016-02-18 13:46] butterflyfish commented on #71
@dfishburn , thx, but I want to use <enter>. I set <leader> to space key.
I hope vimagit let CR have multiple function.
- <CR>   if cursor on filename header line, unhide diffs for this file
- <CR>   if cursor on  diff hunks, toggle diff fold

As result, it can improve user experience. One key Enter is quick than zo/zc.

[2016-02-18 13:49] butterflyfish commented on #72
@jreybert , I'm only vim user, and never write vim scripts. Sorry.

[2016-02-18 14:32] jreybert commented on #72
That would be a good, start, update message won't be that hard ;)

Anyway, if you really don't want to do this, I'll do.

[2016-02-19 01:18] tiagoboldt commented on #39
Hi,

I'm reproducing this in linux/osx using the FISH shell. I believe the problem is the same, FISH doesn't accept env vars being set that way before invoking a binary file. Can I provide any additional info to help debug it? Fish will definitely be an easier way to replicate this. Let me know if I should fork this into a new issue.

[2016-02-19 09:27] jreybert commented on #39
There's definitly a problem around environment variables. I'll craft a patch soon around that, but I think it won't fix all on windows.

[2016-02-19 14:29] dfishburn commented on #39
Just to be clear.

Any new release (like the 1.5.2) and anything you ask me to test, I can't since you haven't made this simple and totally backwards compatible fix (which I outlined above):

So I have added this to my vimrc, which allows me to specify a full path including double quotes just in case there are spaces in my path.

[code]

Then modified this file, right at the top:
vimagit-1.5.1\aut

[2016-02-19 14:53] jreybert commented on #39
@dfishburn , add a global magit_git_cmd variable was what I meant in my previous comment.

For such simple changes, a pull request very is welcome! If so, the best way is to add this `g:magit_git_cmd default` definition on top of `plugin/magit.vim`, like other global (but overridable) variables.

Cheers

[2016-02-19 15:17] dfishburn commented on #39
I haven't done stuff with Github, so don't really know how to send you a pull request.

This change is incredibly simple.
Just change that first line in autoload\magit\git.vim to the 5 lines I provided.

[2016-02-19 16:01] jreybert commented on #39
That's why I encourage you to make a pull request. Anyway, I'll do it.

[2016-02-22 12:25] jreybert opened #73 "Add missing tests"
To be updated:

- commit cancel

[2016-02-22 13:12] jreybert opened #74 "Add variable for custom git command"
Ref #39

[2016-02-22 13:17] jreybert opened #75 "Different git command according to environment ( platform/OS/shell) ..."
At least, following environment have been identified:
- Linux + shell
- FISH shell (Linux, Windows?)
- Windows (which shell?)

Ref #39

[2016-02-22 13:18] jreybert commented on #39
Hi everyone, could you post your environment (OS, shell name and version) to #75

I'll try to propose a default git command for each comment environment.

[2016-02-22 15:11] tiagoboldt commented on #75
➜  ~ which git # Homebrew
/usr/local/bin/git
➜  ~ fish --version
fish, version 2.2.0
➜  ~ sw_vers -productVersion # OS X Version
10.11.3

[2016-02-22 23:30] jreybert opened #76 "Jump to magit window if magit buffer is already displayed"

[2016-02-23 00:06] jreybert commented on #39
please check branch next, and comment on #74

Thanks

[2016-02-23 00:07] jreybert commented on #75
thanks @tiagoboldt

I am thinking removing all the NULL config stuff in front of git. I suspect that vimagit will behave well, even with exotic git configuration. I'll see, but in this case this ticket will be rejected.

[2016-02-23 00:15] tiagoboldt commented on #74
Fixed for me (OS X, fish shell, latest git from homebrew)

[2016-02-23 00:16] jreybert commented on #74
Thanks for your answer less than 5 minutes after the push :)

[2016-02-23 12:45] dfishburn commented on #74
Standard Windows cmd.exe.  I am sure some users use Powershell on Windows, but I haven't tried it yet.

[2016-02-23 13:32] jreybert commented on #74
@dfishburn does it work for you when you set `g:magit_git_cmd variable` in your vimrc to your git command?

[2016-02-23 17:29] dfishburn commented on #74
With the code I sent you which I am running against 1.5.2 (made the same manual change).
Yes, it is the only way I can use Magit.
This 1.6.0 milestone (don't quite understand what a milestone is compared to a branch) but there doesn't appear to be anyway I can test a pre-release ...

[2016-02-23 17:45] jreybert commented on #74
@dfishburn , did you try the branch `next`? There is no pre-release, to try next feature you must be on `next` branch.

[code]

A milestone is like a tag for github.

You can see it like a release, a version number. Branches `master` and `next` continuously move. A milestone/tag/version/WhateverYouCallIt will stay like a... a milestone ;)

[2016-03-04 14:47] jreybert commented on #57
Use git gui trick:
- while writing a commit message, write it in .git/MAGIT_MSG
- when commit --amend, keep MAGIT_MSG but only show COMMIT_EDITMSG
- discard it when commiting
- think to dump commit message on vimagit events (e.g. refresh) and on some vim events (buffer close...)

[2016-03-08 09:32] fpnick opened #77 "Go straight into insert mode when committing"
Hi,

I think it would be more intuitive if vim would jump straight into insert mode after pressing CC to commit, wouldn't it?

Cheers,
Fabian.

[2016-03-08 09:37] slackhead commented on #77
+1 for this. I've been thinking the same thing for a while now.

[2016-03-08 12:34] jreybert commented on #77
I believe that branch next fix this ticket. Checkout branch next and add this line into your vimrc:

[code]

and let me know if it works for you.

[2016-03-08 14:12] fpnick commented on #77
Works for me!

[2016-03-08 14:25] slackhead commented on #77
Yep.

[2016-03-11 08:39] jreybert commented on #74
@kdurant @dfishburn could you confirm that branch next works well for you? FYI, I removed all environement variable.

To fulfill my understanding, do you use a standard `git` command, or another one? (see #75)

Thanks for your contribution, I would like to make it clear before next release.

[2016-03-11 08:39] jreybert commented on #39
@kdurant could you please check issue #74, thanks.

[2016-03-11 08:40] jreybert commented on #39
And to everyone, could you please please update this ticket if banch next is OK on windows?

[2016-03-15 14:36] jreybert commented on #75
Finnaly, did not see actual use case.

[2016-03-15 14:36] #75 closed

[2016-03-15 20:02] jreybert commented on #53
git 1.8.5 limitation doesn't worth it

[2016-03-15 20:02] #53 closed

[2016-03-15 20:09] #68 closed

[2016-03-15 20:09] #70 closed

[2016-03-15 20:09] #74 closed

[2016-03-15 20:09] #32 closed

[2016-03-15 20:09] #48 closed

[2016-03-15 20:09] #57 closed

[2016-03-15 20:09] #72 closed

[2016-03-15 20:09] #73 closed

[2016-03-15 20:09] #76 closed

[2016-03-15 20:09] #77 closed

[2016-03-29 11:26] mtglsk commented on #71
@dfishburn How does this mapping differ from `za`?

[2016-04-10 08:40] aerosol opened #79 "Unhandled error when commiting an empty stage"
Steps to reproduce:

1. no staged changes
2. leader M
3. CC
4. type commit message
5. CC

results with

[code]

Would be way nicer to warn the user that there's nothing to commit (or simply disable CC).

PS. Thanks for a really nice plugin!

[2016-04-12 14:48] aerosol opened #80 "Error when escaping insert mode in commit section"
Steps to reproduce:

1. Stage data
2. `CC`
3. `ESC`
4. press `h`

One would expect to move the cursor  one character back, instead an error is produced:

[code]

[2016-04-13 02:21] dtb11288 opened #81 "edit commit"
Hi jreybert,

Please change help command from "h" to "?", when I want to edit wrong position, press "h" should go to left. except this issue always annoy me, everything else work great.

Thanks for amazing plugin

[2016-04-13 10:40] aerosol commented on #81
@dtb11288 duplicate, reported that yesterday https://github.com/jreybert/vimagit/issues/80

[2016-04-13 19:15] jreybert commented on #80
Hi @aerosol ,

thanks for your feedback. According to #81, this is definitely a misconception of key mapping.

I'll update it soon.

PS: thanks for your tweet :)

[2016-04-13 19:16] jreybert commented on #81
@dtb11288 exact same bug discovered by two persons in 1 day O.o

Thanks for you report.

I close this ticket as it duplicates #80

[2016-04-13 19:16] #81 closed

[2016-04-13 19:17] jreybert commented on #79
@aerosol thanks for report, I'll give it a look ASAP.

[2016-04-14 08:02] aerosol commented on #80
@jreybert hey don't mention it, thanks for the plugin! :)

[2016-04-14 12:10] jreybert commented on #80
A fix has been pushed on branch next. Could you give it a try before I merge it to master?

Thanks!

[2016-04-14 12:11] jreybert commented on #81
A fix has been pushed on branch next. Could you give it a try before I merge it to master?

Thanks!

[2016-04-14 12:11] jreybert commented on #79
A fix has been pushed on branch next. Could you give it a try before I merge it to master?

Thanks!

[2016-04-14 14:02] aerosol commented on #80
@jreybert `next` branch I assume?

[2016-04-14 14:04] aerosol commented on #80
@jreybert works for me! :heart:

The message `Press h to display help` should be changed accordingly. Thank you!

[2016-04-14 14:05] aerosol commented on #79
@jreybert very cool, works nicely

[2016-04-14 15:54] jreybert commented on #80
Nice catch, thanks

[2016-04-14 19:38] #79 closed

[2016-04-14 19:38] #80 closed

[2016-04-15 11:34] jreybert commented on #59
As I don't see what vimagit could bring more for git blame vim integration, I don't plan to implement it.

If you can see a way where the vimagit workflow could integrate a git blame output in an interesting manner, I would be happy to see it! Feel free to reopen this ticket in this case.

[2016-04-15 11:37] jreybert commented on #36
@fpnick @goweol is vimagit still slow with last releases? I did not investigate a lot since february. Now that vimagit is stabilised, I would like to resolve this issue.

[2016-04-15 11:38] jreybert commented on #16
Seems to be a bad idea, won't implement it.

[2016-04-15 11:38] #16 closed

[2016-04-15 11:41] jreybert commented on #20
As I don't plan to implement this (soon or nether...), I close the ticket.

If you are OK to explain a clear workflow, I would like to see it. In this case, feel free to reopen the ticket.

[2016-04-15 11:41] #20 closed

[2016-04-15 11:42] jreybert commented on #21
As I don't plan to implement it soon, I close the ticket. If anyone is interested with such feature, feel free to reopen the ticket.

[2016-04-15 11:42] #21 closed

[2016-04-15 11:44] jreybert commented on #39
As no one seems to complain, I close this ticket. If someone still has an issue with Windows 10, feel free to reopen the ticket.

[2016-04-15 11:44] #39 closed

[2016-04-15 12:30] jreybert commented on #45
As I can't reproduce you issue, I close this ticket. Feel free to reopen it if you have any new input about this issue.

[2016-04-15 12:30] #45 closed

[2016-04-15 12:32] #69 closed

[2016-04-18 04:34] goweol commented on #36
I happily used magit (from Nov 13 2015).
It is slower than command line, but it is acceptable (normally 1~2secs).
Without magit, I have to spend more time to achieve same job with command line and other tool.
So that, I'm fine for closing this issue.
Many thanks!

[2016-04-20 20:25] fpnick commented on #36
I can't give you exact numbers, but like @goweol I'm mostly using vimagit rather than going back to the command line, so it must be acceptable I'd say :)

[2016-04-27 08:48] jreybert commented on #36
OK, thanks. If you encounter any new slowdown issue, please reopen this ticket.

[2016-04-27 08:48] #36 closed

[2016-04-27 08:49] jreybert opened #83 "Stage multiple hunks or file by visually selecting them"

[2016-04-27 09:44] jreybert opened #84 "Remove ugly 'End commit message'"

[2016-04-29 14:33] kwinczek opened #85 "Add <nowait> to magit mappings"
Hey, consider adding <nowait> to g:magit_close_mapping to reduce delay for those who have global q\* mappings set.

[2016-04-29 14:59] jreybert commented on #85
Ho, I did not know this option...

Well, I will be consider it, but maybe not only for q mapping. I'll check how other plugins play with this in special buffers mapping.

[2016-05-22 08:12] scps950707 opened #86 "Feature: check user's commit message length"
![_003](https://cloud.githubusercontent.com/assets/6916149/15453040/813a9b14-2037-11e6-9184-e62a90c1904c.png)
vim changes the color of commit message text color to tell us not to write commit message longer than 50 characters in first line.
But magit doesn't
![magit ---home-scps950707-github-gittest - vim_004](https://cloud.githubusercontent.com/assets/6916149/15453043/d4d695ac-2037-11e6-81fb-a5ec

[2016-05-24 05:44] wikimatze opened #87 "Add remap setting for jumping to next/previous hunk"
I like to use `C-n` and `C-p` from https://github.com/junegunn/fzf.vim to jump to next/previous hunk. The documentation adds mapping for all other commands, except those ones. See line https://github.com/jreybert/vimagit/blob/master/doc/vimagit.txt#L230.

Maybe it's just missing in the documentation?

[2016-05-25 05:02] wikimatze opened #88 "Option let g:magit_show_help = 0 doesn't seem to work"
Pressing `h` gives me the same output as well as setting the option to 1. I thought pressing `h` will do nothing anymore and the line "Press h to display help" will not be shown or does the option something other?

Thanks for the fugitive replacement.

Cheers,
Matthias

[2016-05-25 07:32] jreybert commented on #88
Some misunderstanding I think:
- `g:magit_show_help` shows the help by default when opening magit buffer
- in next and master branches, you must now use '?' instead of 'h' to toggle help showing

Anyway, I am not sure what you're trying to achieve.

PS: vimagit does not aim to replace fugitive ;) I still use both (I don't intend to replace Gblame, Gdiff, Ggrep or Gedit!!!)

[2016-05-25 08:13] wikimatze commented on #88
Thanks for the explanation - didn't notice that help is there when opening a new window :smile: - so this option makes totally sense now.

I forget about `:Gblame` (not using it for OS work that much) but yeah, definitely an argument to stay with fugitive.

Thanks for clarification!

Cheers,

Matthias

[2016-05-25 08:13] #88 closed

[2016-07-01 14:10] scps950707 commented on #86
I resolve this problem by intergrating this plugin:[vim-lengthmatters](https://github.com/scps950707/vim-lengthmatters)  with vimagit
Then I Add

[code]

to my vimrc and works
![_006](https://cloud.githubusercontent.com/assets/6916149/16532760/99ddad98-4006-11e6-8e1f-0af948f701bf.jpg)

[2016-07-05 09:19] jreybert commented on #86
Great, thanks for the tip!

[2016-07-05 09:22] scps950707 commented on #86
I also have another solution by just Modify vimagit's syntax rule to do the same feaure
[this commit](https://github.com/scps950707/vimagit/commit/4736fd7c56d9cf4a1ed0a3bde54ec68babcfb621)
And now works like this
![_002](https://cloud.githubusercontent.com/assets/6916149/16579992/032e6f96-42d5-11e6-8cca-850a6e6162f2.jpg)

[2016-07-05 21:28] jreybert commented on #86
Nice trick. But there are solutions to detect the first non blank line in a commit message, without adding a string in front of the line. A PR with such solution would be welcomed.

[2016-07-06 09:10] scps950707 commented on #86
Hmm..I think it's a little bit diffcult, I can't figure out this regex mattern to match first non blank line in a commit message

[2016-07-06 19:57] jreybert commented on #86
Indeed, the pattern is the following: the first non blank line after the pattern "Commit message\n==============\n"

[2016-07-10 21:57] wezm opened #89 "Error when vim files are in a path with spaces"
I store my vim files in Dropbox. The path has spaces and brackets in it (Note that the `Dropbox (Personal)` bit wasn't my choice. When you add a Dropbox for business account they rename the Dropbox folder to this and add a `Dropbox (Business)` one). Whilst everything else works with this arrangement, vimagit does not:

[code]

[2016-07-11 08:45] jreybert commented on #89
Gasp, I think the test suite tests that staged file with space are well handled, but I don't think I test repository path with white spaces...

I'll give it a look, thanks.

[2016-07-11 22:45] wezm commented on #89
Note this isn't about the repository path having spaces it's vim's configuration files being in a location with spaces in it. In this case Vimagit errors out when opening vim.

[2016-07-12 08:19] jreybert commented on #89
I misread it. Thanks for the tip.

[2016-07-18 07:46] Bob131 commented on #86
Since this isn't supported in vimagit itself, can this issue be reopened?

[2016-07-18 08:03] scps950707 commented on #86
OK ,I reopen it.

[2016-07-22 12:25] jreybert commented on #24
Hi @addcninblue
if you don't mind, I would prefer to continue the discussion here.

Excellent! PR are very welcomed. I don't have much time this year to add new features in vimagit. Anyway, this is quite a big feature, and maybe not the easiest way for a first PR. This feature will require good skills in both git and vimscript. I updated the feature description. It'll need to be detailed.

Other o

[2016-08-13 19:29] mhartington opened #90 "Handling signing of commit messages"
Recently github has allowed people to sign their commits for verification purpose

https://help.github.com/articles/signing-commits-using-gpg/

Currently, if I try to use vimagit with gpg signing enabled, you get this.

<img width="1680" alt="screen shot 2016-08-13 at 3 22 39 pm" src="https://cloud.githubusercontent.com/assets/2835826/17645143/9e7fb532-616a-11e6-843d-b8a6b7f74042.png">

And vim fr

[2016-08-20 20:34] jreybert commented on #90
Thanks Mike to bring my attention to this feature.

I need to work again on visit, very soon.

[2016-08-30 23:13] #84 closed

[2016-09-14 13:02] jreybert commented on #23
CF, for commit --fixup will show up log with N last commits (N should be definable). If user choose first commit, it makes a commit --amend, otherwise it creates a fixup commit.

It should open a new window, on bottom, with fancy colors ;) in read only mode. Default log format should be --oneline, but also should be definable. Then, user can search into its commits, and when cursor is on the wante

[2016-09-14 22:46] jreybert opened #91 "Add :w mapping to write commit message"

[2016-09-30 21:49] hkupty opened #94 "After remapping, CC adds previous commit message"
After setting `let g:magit_commit_mapping="cc"`, if I do multiple commits for the same repo or without closing vim (changing pwd to another project) it places the previous commit message.

It keeps the commit mode as `normal`, though.

[2016-10-02 15:23] wikimatze commented on #90
Have the same issue, but a `C-f` and `<C-b` solves this issue for me.

[2016-10-12 20:22] jreybert commented on #94
I can't reproduce your issue. Could you:
- try to reproduce disabling all the others plugins
- make a step by step description

Thanks

[2016-10-12 21:22] jreybert commented on #89
Arh, it's been such a pain to reproduce your setup! Spaces should be forbidden, everywhere! :)

Could you try the branch next, and let me know if it fixes your problem?

Thanks for the issue.

[2016-10-12 21:41] #87 closed

[2016-10-12 21:43] jreybert commented on #87
5 months for this issue... sorry.

Yes, it's just missing in the doc (updated). Variables are:
`g:magit_jump_next_hunk`
`g:magit_jump_prev_hunk`

[2016-10-12 21:54] jreybert opened #96 "Fix cursor position after staging"
Cursor should stay at relative same place (not necessarily same line) after staging.

Proposed by @ntcong

[2016-10-12 21:55] jreybert commented on #83
@ntcong this issue already exists :)

[2016-10-12 21:58] jreybert opened #97 "enlarge or shrink hunks"
Like magit, keys `-` and `+` should enlarge or shrink hunks.

It is just playing with `git diff -Un`

Proposed by @ntcong

[2016-10-12 22:25] #97 closed

[2016-10-12 22:37] wezm commented on #89
Yeah it was a terrible choice by Dropbox to not only include spaces but brackets as well. I'll give it a try when I have a moment. Might not be until the weekend.

[2016-10-12 23:07] jreybert commented on #89
No problem, you waited 3 months, I can wait too :)

[2016-10-13 04:24] wikimatze commented on #87
Thanks you so much.

[code]

works as intended.

[2016-10-13 08:03] jreybert commented on #87
:+1:

[2016-10-19 12:48] jreybert commented on #94
Hi,

could you please provide a step by step description on how to reproduce your bug? I would like to fix it for next release.

[2016-10-19 12:55] hkupty commented on #94
Sorry for taking long to answer, I've been on a rush for the last few days.

I'm thinking this may be related to `tcd` somehow. When I opened the issue, it looked like (for some random order of events) that changing the commit mapping would cause the message to appear, even if normal commit.

I'll ask you to keep this on-hold as I'll investigate further (while addressing the comments for the PRs #

[2016-10-19 12:58] jreybert commented on #90
When I try with my vim configuration (I use a terminal nvim with X support), I get a popup asking me for my key.

What is your vim configuration?

If you confirm it happens with a vim without X support, I will disable commit signin when done from vimagit with a vim without X support, with a warning. If you're comfortable with such things as gpg-agent, I may add a check 'if gpg-agent enabled and re

[2016-10-19 13:00] jreybert commented on #94
OK thanks for your feedback.

[2016-10-19 18:35] jreybert commented on #89
Could you confirm it has fixed your problem before I merge it into master.

[2016-10-20 00:08] wezm commented on #89
It gets further (vim loads without error) but doesn't look like it's entirely fixed:

[code]

This happened when running `:Magit` when `:pwd` is `/Users/wmoore/Dropbox (Personal)/Dot Files`, which is a git repo.

[2016-10-20 08:38] jreybert commented on #89
I believe this is now fixed in banch next.

All tests in integration are done with the tested repository path containing spaces.

Last flow in integration is that vimagit path does not contain space.

Thanks for your feedback!

[2016-10-25 18:21] wezm commented on #89
Yep working now 👍 Thanks.

[2016-11-01 02:04] alok commented on #85
I'm also interested in this.

I use the `s` key to stage, but I have a global mapping that conflicts, and it's annoying to have to wait a second for the mapping to work.

[2016-11-01 06:56] Alok opened #99 "feature request: let next/prev hunk mappings jump to file titles"
if i have `g:magit _default_show_all_files=0`, then those mappings are useless since no hunks are visible, but I clearly want to jump between filenames to stage them.

[2016-11-01 09:19] Alok opened #100 "Error detected while processing function magit#show_magit: line 119: E714: List required"
This happens every time I run `:Magit`. I'm using the `next` branch.

[code]

[2016-11-02 08:12] jreybert commented on #100
Did you redefine `g:magit_folding_toggle_mapping`. If so, it must a list, for example:
`let g:magit_folding_toggle_mapping = [ '<CR>' ]`

[2016-11-02 08:25] jreybert commented on #85
I understand your concern.

I am quite reluctant to add `nowait`, I don't understand all the possible consequences for the moment.

I would like to do a full review of technical ways to provide default mapping first, and see the best fit for vimagit, for example using `<Plug>` prefix. I do believe it should fix your concern.

See http://whileimautomaton.net/2008/09/27022735

[2016-11-02 11:57] jreybert commented on #65
Hi, what is the status with current master/next branch?

[2016-11-02 13:34] jreybert opened #101 "Mimic fugitive default mappings"
@justinmk input:

[2016-11-02 13:34] jreybert opened #102 "Use <Plug>(...) mappings instead of g:vimagit_stuff_mapping"

[2016-11-02 13:43] jreybert commented on #85
@Shougo 's code to use `nowait`

[code]

[2016-11-03 16:36] jreybert commented on #94
Someone pointed me this out:
when this has happened to you, did you began a commit with another tool such as `git gui` or `git cola`?

[2016-11-03 17:48] hkupty commented on #94
No. The thing is, it used to happen prior to fixing tcd. I'm using `next` now and it never happened again (it was pretty common before).

~~I think we can close this for now.~~ I'm using vimagit on daily basis and I'm pretty sure fixing `tcd` fixed it.

Just found out why it happens:
`{,t,l}cd` is on a path, but the file is from other path This causes the vimagit window to open for the repo of the

[2016-11-03 22:26] alok commented on #100
Wow I had a bad moment of not RTFM. Thanks. Adding the mapping to a list fixed it.

[2016-11-03 22:26] #100 closed

[2016-11-04 08:45] jreybert commented on #100
Mappings should move to `<Plug>(magit_*)` in a near future, stay tuned ;)

[2016-11-08 11:44] Alok opened #103 "Documentation: custom mappings not shown in help (`?` window)"
When you press `?`, it should show your mappings rather than just the defaults. The code even appears to be intended to do that. Except that it doesn't.

E.g. I have "reload" mapped to 'r', but the help doc shows 'R'.

[2016-11-20 01:56] alok commented on #94
FWIW, I've also had this issue. I'm using `next`.

[2016-11-20 01:59] alok commented on #96
I get the inverse issue: when I *un*stage a change, the cursor jumps to the top.

[2016-11-21 09:40] jreybert commented on #96
Could you be more precise?
- do you unstage a hunk or an entire file?
- what is its position in the staged list?

[2016-11-21 09:40] jreybert commented on #94
@Alok do you use `tcd`?

[2016-11-21 23:06] alok commented on #94
@jreybert No.

[2016-11-21 23:09] alok commented on #96
- Single hunk.
- Didn't check.

It's odd but this issue doesn't consistently appear, so it may be some other issue. I'll keep testing it and let you know.

[2016-11-21 23:39] Alok opened #106 "consider clearing and restoring user-defined mappings that conflict in magit buffer"
I have S mapped to start a macro, so `S` also staging a hunk is annoying as it pauses a bit to figure out which mapping was meant. There's only so many keys, so remapping can be a nuisance. vim doesn't seem to have a builtin way to unmap global mappings locally, so I was wondering if magit could save user mappings, unmap them, and then restore them after leaving the magit buffer.

[2016-11-22 09:57] jreybert commented on #94
Do you use tools like `git gui` or `git cola`?

[2016-11-22 10:00] jreybert commented on #106
I plan to use `<Plug>` mappings. It will let the user much more flexibility (re)defining its mappings #102

I should also add `<nowait>`, which should fix your pause issue #85

[2016-11-22 10:00] #106 closed

[2016-11-22 10:03] alok commented on #94
No. I only use the command line, and recently I've only used vimagit,
except to push.
On Tue, Nov 22, 2016 at 1:57 AM Jérôme Reybert notifications@github.com
wrote:

[2016-11-22 15:19] hkupty commented on #94
@Alok can you reproduce the bug? I'm pretty sure this is fixed on `next`..

[2016-11-23 07:58] alok commented on #94
I just updated and I'm not seeing it.

[2016-11-23 08:00] Alok opened #107 "strange commit message"
I'm using latest version of `next` and I hit `CC` and it prefills the commit message `Bulk Update`. None of my commit messages for that repo have that message. I'm really confused here as to why that's being added. Is it a vimagit feature that I'm unaware of?

[2016-11-23 08:06] alok commented on #107
It adds that line over and over every time I do an action like refreshing the buffer.  [Here's a gist of profiling that shows which functions are called.](https://gist.github.com/54e28101ec5e483ae787ecde09b98c01)

[2016-11-23 08:41] jreybert commented on #107
I don't know from were this message could be from...

Could you please:
* `grep -R` your `.vim` directory to check if this message is a side effect of your configuration
* Precise what is your `vim` (or `neovim`) version and your `git` version

[2016-11-23 08:45] alok commented on #107
`git version 2.7.0.25.gfc10eb5`
`NVIM v0.2.0-104-g5f02608`

Nothing comes up with `grep`, even under case-insensitive search.

[2016-11-23 11:04] sedm0784 opened #108 "Problems on Windows"
Windows: 8.1
Vim: 7.4
Git for Windows: 2.6.1.windows.1

I'm having trouble getting vimagit running on my Windows box.

Git is in my path (and running `:!git` in the command-line window opens a Windows command prompt in which the command `cmd.exe /c (git)` successfully prints out the git usage message, followed by `shell returned 1 Hit any key to close this window...`.

However, I get the behaviour

[2016-11-27 07:05] Alok opened #109 "Amend doesn't bring up old commit message."
I type `CA`, both inside and outside of the commit box, and it fails to bring up the last commit message (which does exist). Is anyone else having this issue?

[2016-11-29 12:43] jreybert commented on #109
@Alok `CA` works well on both branches `master` and `next`. Which version of vimagit are you using? What is your current SHA1?

[2016-11-29 12:54] jreybert commented on #109
Right, I got it: `CA` must be called before you opened the commit box. It means that:
[code]
works, but:
[code]
do not work.

Maybe vimagit should detect this pattern and return an error.

[2016-11-29 23:51] alok commented on #109
It could also automatically toggle the commit type when it makes sense to do so.

[2016-12-20 21:22] mhartington commented on #90
Hey sorry, for the silence on this end...

I do not get a popup, but rather this.
![screen shot 2016-12-20 at 4 15 37 pm](https://cloud.githubusercontent.com/assets/2835826/21368215/9c25c888-c6cf-11e6-8524-98db0f7c5940.png)

Where I'm unable to to enter any text.

My dot files are here

https://github.com/mhartington/dotfiles/blob/master/config/nvim/init.vim

I'm using macOS, iterm2, nvim, and tmu

[2016-12-21 14:42] mhartington commented on #90
Update: Looks like this is because nvim does not behave the same as vim. Went back and setup an gpg-agent and a native window showed up. Closing as this is something that would require nvim specific code to work around, and an agent is just as good.

[2016-12-21 14:42] #90 closed

[2017-01-01 11:57] deathmaz opened #110 "Strange behaviour when open help message in commit mode amend"
Hi @jreybert, i recorded the issue with `asciinema` - https://asciinema.org/a/9qq3wf1sz5pslilrt116sjm1t
So when i press `CA` you can see `Commit message` section with my previous commit in it. But when i pres `?` to see help and then press it again to close it you can see that `Commit message` section is messed up. And it get's messed up even more when i press `?` repeatedly.

I'm using `NVIM 0.1.

[2017-01-05 13:21] jackfranklin opened #112 "Errors when opening `Magit`"
I've installed the plugin through vim plug, and I see a lot of errors when I immediately run `:Magit`:

<img width="890" alt="screen shot 2017-01-05 at 13 19 28" src="https://cloud.githubusercontent.com/assets/193238/21681977/d4c734fc-d349-11e6-9571-ed4afb838906.png">

I was using Neovim so I thought that might be the issue but it's not, regular Vim 7 has this problem too.

Any thoughts you have a

[2017-01-20 09:39] jreybert opened #113 "magit buffer in write mode is not well handled when cursor is out of magit buffer"
This is quite a mess:
- if a commit message is ongoing, and a `:wall` command is typed out of the magit buffer, the commit is commited
- if a commit message is ongoing, and a `:qall` command is typed, vim warn the user that a buffer has been written

[2017-01-20 09:40] #113 closed

[2017-01-24 12:38] jreybert commented on #112
Sorry for the late.

What is your vimagit version?

Could you write a step by step way to reproduce your issue?

[2017-01-24 12:44] jreybert commented on #110
Thanks for the report (and the screencast :) ).

Indeed, this is a bug.

[2017-01-24 12:46] jreybert commented on #109
Hm, it would make sense indeed...

I am entirely satisfied by the actual Commit Amend behaviour, it should show the status of the amended commit. What do you think?

[2017-01-24 16:39] jreybert commented on #108
Hi,

could you try branch next please? Or at least cheery pick c4146ed

It should fix this problem, but I fear it hides other problems. It is quite difficult to me to test on windows platform...

[2017-01-24 23:20] alok commented on #109
It's not that big a deal to me, so do whatever pleases you.

[2017-01-27 10:45] wleese opened #114 "Support for "git add -A""
Basically I'd like a way to stage everything by default, either through an option or key mapping.

[2017-01-27 12:31] jreybert commented on #114
That's something I am thinking since a while. I wonder what might be the default behavior and mapping.

[2017-01-27 12:35] wleese commented on #114
I believe most people dislike this behavior. So I'd suggest:

- An option to add all by default. Default value: disabled
- AA as a mapping that toggles between "add all" and "remove all"

[2017-01-27 12:46] jreybert commented on #114
What do you mean by "An option to add all by default"? With which mapping?
`AA` is a good mapping, if it is added it should be always enabled.
I must look in fugitive if there is already a mapping for this.

[2017-01-27 12:50] wleese commented on #114
Maybe my use of words isn't correct VIM terminology, sorry :)
From a user standpoint: when I :Magit add all files to Staged if in my .vimrc I have:
let g:magit_always_stage_all = true (for example).

But any of the 2 features (or both :)) is good for me.

[2017-01-27 13:02] jreybert commented on #114
Just to be sure: you want that all files to be staged when you open magit buffer with `:Magit`?
In that case, no, it won't be added like that. Good news is that you can already to that.

[code]

About the mapping, IMO there are two main behaviors here:
1. stage all modified files
2. stage all modified + untracked files
Mappings could be:
1. `aa`
2. `aA`

[2017-01-27 13:04] wleese commented on #114
Good point about the untracked files.
Thanks and looking forward to /any/ implementation :)

[2017-01-27 13:09] jreybert commented on #114
You can already add the `autocmd User VimagitBufferInit` trick in your vimrc, it will do the job.

[2017-01-27 13:10] wleese commented on #114
Done, thanks again

[2017-01-27 13:10] fpnick commented on #114
Great idea. For my personal workflow it would also be convenient if `aa`/`aA` would automatically trigger `CC`.

[2017-01-27 13:21] jreybert commented on #114
@fpnick hm, I'll see how to do that... I am not fan to add another `autocmd User` or a `g:magit_aa_auto_commit` just for that (vimagit already have too many options!). I'll think how it could be added. IMO, type `aA CC` is natural, auto `CC` would not be a great benefit.

[2017-01-27 13:25] fpnick commented on #114
Sure, it's a matter of taste... It's not crucial of course.

[2017-01-29 21:01] jreybert commented on #107
Did you try with `vim -U none`, and load only vimagit to check if there a side effect from another plugin or a setting in your vimrc?

If you can determinate that only vimagit is in fault, could you please try to dump some debug traces?
in vimagit buffer, type this:

[code]

Try with XX from 1 to 20, and stop when you encounter `Bulk Update` in verbose file.

[2017-01-30 14:41] jreybert commented on #85
@kwinczek @Alok could you please give a try to branch `dev/mapping`

[2017-01-30 14:42] jreybert commented on #106
@Alok could you please give a try to branch `dev/mapping`

I added `<nowait>` in default mappings, it should fix your problem

[2017-01-30 14:44] jreybert commented on #101
@khalidchawtany @yevhen-m could you please give a try to branch `dev/mapping` and tell me if you like new mappings?

[2017-01-30 14:45] jreybert commented on #103
@Alok could you please give a try to branch `dev/mapping` to see if it fixes your problem?

[2017-01-31 02:46] alok commented on #101
I wouldn't change `CC` to `cc` since `cc` is pretty handy for writing the commit message, since it clears the line.

Also, mapping over `l`, `r`, `e`, `m`, and (maybe) `f` isn't a great idea since often I want to:

- move the cursor right (`l`)
- change a letter in a commit message (`r`)
- move by word (`e`)
- set marks (`m`)
- jump to a letter (usually in a commit message) (`f`)

If you could fin

[2017-01-31 09:52] yevhen-m commented on #101
Absolutely agree, @Alok. It's a bad idea to change native mappings to something else. I don't like that `M` & `L` are remapped for this reason as well.

[2017-01-31 10:49] jreybert commented on #101
@justinmk remarks about actual mapping (which are almost all caps mappings) are close to fugitive mappings, but could be the same (which would ease the usage of vimagit for fugitive users). Also, use non caps mappings for usual action like staging frees a finger :)

There is a trade off to find. vimagit is a little bit more than a usual vim plugin, it is a git UI embedded in vim. Then, it needs to

[2017-01-31 22:13] khalidchawtany commented on #101
It is 1:00 am. I would be more than happy to try them tomorrow  :)

[2017-01-31 23:13] jreybert commented on #101
No no no, I want an anwser now! Get up!! 😄

Have a nice night, and thanks for the upcoming review.

[2017-02-01 14:31] jreybert opened #115 "auto foldopen current/next hunk when stage/unstage"
It should ease when staging a lot of small hunks

[2017-02-01 15:57] jreybert commented on #96
@ntcong @yevhen-m this is even better now!

[2017-02-01 21:38] yevhen-m commented on #96
@jreybert thanks.

[2017-02-02 20:21] khalidchawtany commented on #101
Ha ha. I was long gone to 😴

Although sometimes I use the previous mappings accidentally, I would definitely would like to have the new ones 👍

@jreybert I am not able to stage visually selected lines `vs`, marked lines `ms`, or just a line `l`; unless there is a new line at the end of my file.
Maybe this is the same as before. However, I haven't noticed as I always have a blank line at the end of

[2017-02-02 20:56] jreybert commented on #101
Crap. Could you please try on branch next and check if there is the same behavior? Whatever the result, could you open an issue, precising the branch, your [n]vim version, your git version and a step by step way to reproduce this bug.

Thanks for your review!

[2017-02-21 19:51] ghost commented on #85
@jreybert Seems alright to me. Thanks!

[2017-02-22 21:37] jreybert opened #117 "[next] stage fail in some cases"
it produces this kind of message:

[code]

[2017-02-22 21:40] #117 closed

[2017-02-23 13:25] jreybert commented on #117
This error happened only in `next` branch.
Error appears when there is a double star `**` in the hunk header

[2017-02-23 20:45] jreybert commented on #107
@Alok do you still encounter this problem?

[2017-02-23 20:49] jreybert commented on #102
Not a good idea:
* difficult to do with `<buffer>` mapping + make them configurable
* impossible to get the mapping, in order to bypass the vimagit mapping and play the original mapping. It is useful in some cases, e.g. `<cr>`

[2017-02-23 20:49] #102 closed

[2017-02-23 20:52] jreybert commented on #101
Actually, use small case `s` `f` `m` `r`... mappings is a bad idea, as it conflicts with very standard mappings.

The only change made in 488b619 is to map `<C-n>` `<C-p>` instead of `N` `P` to jump around the hunks

[2017-02-23 20:54] jreybert commented on #86
:+1: thanks @scps950707 for the PR! It has been merged in `next` and will be soon merged in `master`

[2017-02-23 21:10] jreybert commented on #71
There would be a solution for that request, but i can't decide if if is more natural to use `<cr>` to open/close vim folding or to navigate in normal mode.

[2017-02-23 21:17] jreybert commented on #71
@butterflyfish could you try branch `dev/issue_71` please, and tell me if it is what you expect?

[2017-02-23 21:19] jreybert commented on #65
I close this ticket as I can't reproduce the issue. Feel free to reopen it if you encounter the same problem.

[2017-02-23 21:19] #65 closed

[2017-02-23 22:53] #89 closed

[2017-02-23 22:53] #91 closed

[2017-02-23 22:53] #96 closed

[2017-02-23 22:53] #86 closed

[2017-02-23 22:53] #115 closed

[2017-02-23 22:54] #85 closed

[2017-02-23 22:54] #94 closed

[2017-02-23 22:54] #99 closed

[2017-02-23 22:54] #101 closed

[2017-02-23 22:54] #103 closed

[2017-02-23 22:54] #108 closed

[2017-02-23 22:54] #110 closed

[2017-02-24 07:53] alok commented on #107
Sometimes, but I'm never able to reproduce it consistently, so I've basically given up on it.

[2017-02-24 08:38] jreybert commented on #107
Next time you encouter it, please try this:
[code]

[2017-02-24 08:42] jreybert commented on #107
One more thing: when you say you can't reproduce it, do you mean that if it appears a first time, if you go out commit and retry `CC`, it does not appear again?

[2017-02-24 10:58] aankittcoolest opened #118 "Error is thrown while discarding/checkout the file"
Here are the details of the error displayed.

<pre>
Error detected while processing function magit#stage_hunk[32]..magit#stage_block[29]..magit#git#git_unapply:
line   18:
E605: Exception not caught: unapply error
Error detected while processing function magit#stage_hunk[32]..magit#stage_block:
line   29:
E171: Missing :endif
</pre>

Any details as to why is this thrown?

[2017-02-24 12:48] fpnick opened #119 "vimagit opens in location list"
Hi Jerome,

since upgrading to 1.7, vimagit sometimes (I know this is very vague, but I cannot specify it just yet) opens in the location list panel, rather than in a vsplit.

Is that intended somehow, or is it a bug?

Thanks,
Fabian.

[2017-02-24 20:34] jreybert commented on #118
I need more context, I can't reproduce your issue.
- What action are you doing (stage, unstage)
- Could you provide a screenshot or the hunk part (with the hunk header) you tried to unstage.
- Did it happened since `master` branch upgrade?
- Just in case: [n]vim version, git version, OS (Linux,Mac,Windows)

[2017-02-24 20:52] jreybert commented on #119
It is actually a bug, I reverted the faulty commit.

Thanks for the report!

[2017-02-24 20:54] jreybert commented on #119
Could you confirm that it fixes your issue please?

[2017-02-24 21:11] jreybert opened #120 "when info section is last section, commit title like "vim: " can be intertpreted as a modeline"
ping @argshook

[2017-02-24 21:15] jreybert commented on #120
@argshook  could you confirm that it fix your problem  argshook/dotfiles@d3431ee5776581052eafb76b1e929c4aaf270964

[2017-02-25 20:20] argshook commented on #120
thanks this is great, no more errors!

[2017-02-27 00:58] aankittcoolest commented on #118
I committed he code in the normal way then!
Will be reporting it again (this time with more details) if encountered again.
Closing the issue for now.

[2017-02-27 00:58] #118 closed

[2017-02-27 19:35] #119 closed

[2017-02-27 19:35] #120 closed

[2017-02-28 09:15] fpnick opened #122 "Error detected while processing function magit#show_magit..magit#update_buffer"
Jerome,
now that you've fixed  #119 , I get a new error when trying to open vimagit:

I can hit enter a couple of times an then the buffer opens in a vsplit as desired. My vim-airline commit is fbd791e (current master).

Fabian.

[2017-02-28 09:16] fpnick commented on #119
Sorry for the delay, I wanted to reproduce that at work which is where I noticed the issue.
It's fixed now, however now I get #122

[2017-02-28 09:30] jreybert commented on #122
Between vim-airline e7e4769 and fbd791e, I get strange characters in the status line, but no error.

Could you please provide:
* test with vimagit only loaded plugin, and then vimagit + vim-airline only loaded  plugins
*    the version of vim or nvim
*    the version of git
*    the SHA1 of vimagit you're using
*    the OS that you're using, including terminal emulator, GUI vs non-GUI
*    a step

[2017-02-28 10:03] fpnick commented on #122
I just noticed that I get a very similar error when I use the Ctrl+P plugin.
Until I know any better, I'm gonna assume this is an airline issue and not a vimagit one. (I ran PluginUpdate on friday for the first time in a while, so pretty much everything was updated...)

You can probably close this issue for now, I'll let you know in case I should find any evidence this could be a vimagit issue.

E

[2017-02-28 10:29] jreybert commented on #122
Do you use an airline theme?

[2017-02-28 11:06] fpnick commented on #122
Yes: let g:airline_theme='delek'

[2017-02-28 12:36] jreybert commented on #122
I can't find any airline theme called delek.

[2017-02-28 12:44] jreybert commented on #109
@Alok I realize that I forgot something in my last sentence.

My actual question was:
I am **NOT** entirely satisfied by the actual Commit Amend behavior, it should show the status of the amended commit. What do you think?
To be more clear, there are two kind of amend: amend only the commit message, and amend the commit content (e.g. unstage some file from previous commit).

Would you find this us

[2017-02-28 13:02] jreybert commented on #109
BTW, I pushed your requested feature in branch `dev/issue_109`. Could you test it please?

[2017-02-28 14:19] fpnick commented on #122
I have to admit I'm not exactly sure what that line is supposed to do in my vimrc. But removing it doesn't help either. Since I found a working commit in airline, I think I'll bisect the issue and see if that can tell me anything.

[2017-03-01 12:38] argshook opened #123 "Remove first empty line from magit buffer"
When i open magit buffer, the first line is empty:

<img width="202" alt="screenshot 2017-03-01 14 35 00" src="https://cloud.githubusercontent.com/assets/4284659/23460139/65565972-fe8c-11e6-8c5c-40bef7ce303c.png">

i would like to remove it and have contents start at the very top.

wasn't able to find in code where this line is added. if anyone can point me to it, i'd gladly PR this.

[2017-03-01 12:45] argshook opened #124 "Pressing 0 (zero) in commit section adds new line"
In commit section, whilst editing commit message, hitting `0` in normal mode calls `magit#update_diff('0')`. I expect `0` to work as in normal mode - move cursor to beginning of line. Instead, it adds new line under `Commit message` heading and moves cursor there.

ideally, none of the diff mappings (and possibly others) should work whilst in commit section.

didn't investigate this at all, just r

[2017-03-01 13:07] jreybert commented on #124
`0` is mapped to reset the hunk context size to its default. It also starts a refresh of the magit buffer, with the new hunk context size.

Real problem here (as you pointed it out) is that vimagit mappings are not section aware. I'm quite reluctant to distinguish mapping effect on current section, I already thought about that when I tried #101. It is not that difficult, but I fear it would be err

[2017-03-01 17:28] jreybert opened #125 "Open magit buffer with a smart cursor position"
When vimagit is started from a file in the repo, in order of preferences:
* on this file in unstaged section
* if not, on this file in staged section
* if not, on first file in unstaged section
* if not, on first file in staged section

[2017-03-01 18:47] dfishburn opened #126 "ViMagit log?"
Is there anyway to enable a log or something that would allow me to see all the commands (possibly the directory the commands were run from as well) ViMagit runs when it first launches.

Running on Windows I see the shell commands flash at the bottom of the screen (a vim thing) and it always seems like a lot of commands.  Sometimes those commands can take a while to run.

This would give me the op

[2017-03-01 21:27] jreybert commented on #126
for debug, you can use:
[code]
You can anything else than `show_magit` function of course.

For profiling, you can start and stop profiling with:
[code]

[2017-03-01 22:56] jreybert commented on #123
this empty line is here because all text in magit buffer in print with `put =`. put append text to the next line.

I tried to play around with `append()` or `setline()`, but there is still a bug (it breaks smart cursor jump when staging).

Anyway, the function makes a lot of thing instead of a simple `put`, I don't know the performance impact. You can try it out with the branch `dev/issue_123`

[2017-03-01 23:02] argshook commented on #124
maybe there is a way to configure and disable `0` entirely? `-` and `+` is enough for me.

as per mappings, for me it's okay to have whatever mappings as long as they don't collide with vim defaults. or at least as little as possible

[2017-03-01 23:15] jreybert commented on #123
Actually, I found the last bug. It seems to work, but I am still not sure I will integrate it.

[2017-03-01 23:17] jreybert commented on #124
At least, you can remap `0` to something else, setting `g:magit_diff_reset` to whatever you want.

[2017-03-01 23:37] argshook commented on #124
`nunmap` works, so i'll probably just stick this in my `vimrc`:

[code]

[2017-03-01 23:48] argshook commented on #123
wow this is great. i'll try it out tomorrow at work with more/bigger commits to see if performance got any worse. though i doubt it, no functions look expensive to my untrained eye.

i think you could also benefit from this by refactoring some code so that it doesn't call `s:print()` for each segment but instead create a list and print once, e.g instead of:

[code]

do:

[code]

same can go for en

[2017-03-02 13:59] dfishburn commented on #126
When I try this:
`:20verbose call magit#show_magit('v')`

I get this:

[code]

And if I try this:
`:20verbose Magit`

I get this:
[code]

Weird though, if I quit the Magit window and run just :Magit it works.

But as soon as I add the verbosity, I get errors:
`:20verbose Magit`

Errors:
[code]

So definitely an issue there somewhere.

David

[2017-03-02 21:10] jreybert commented on #126
It seems that 20verbose execute code branches that should not be executed. What you are seeing is errors because of verbose.

I can't test right now, but you may try to find the trade-off between correct execution and verbosity.

[2017-03-06 09:11] alok commented on #109
it works

[2017-03-07 15:30] #124 closed

[2017-03-07 21:48] TamaHobbit opened #128 "Edit -> file already open -> Abort -> New empty buffer"
If you press "E" for edit over a hunk, but you have another instance of vim open on that file, a dialog opens to ask you what to do; I choose Abort, as usual, and this leaves me with a vertical split with a new empty buffer, instead of doing nothing as I would expect, and as would improve workflow.

[2017-03-07 22:03] jreybert commented on #128
Thanks for the report.

I am surprised that I never run into that issue before.

[2017-03-09 15:56] fpnick commented on #122
Does not occur any more with vim-airline at commit 134c0204f3b947276c0e6f26f4fe426b5cba5c06

[2017-03-09 15:56] #122 closed

[2017-03-12 19:30] TamaMcGlinn opened #129 "Error: Key not present in dictionary when staging, committing"
When I do anything in the Magit buffer, such as stage files, CC to commit etc., I get error messages in red on the bottom (command buffer?), such as below. However, the operations do succeed.

[code]

[2017-03-13 09:25] jreybert commented on #129
To make it easier to reproduce, please supply the following:
* the version of vim or nvim
* the version of git
* the SHA1 of vimagit you're using
* the OS that you're using, including terminal emulator, GUI vs non-GUI
* a step by step command to reproduce the bug

[2017-03-17 12:41] abaldwin88 opened #130 ":bd on vimagit error"
I commonly use :bd to close vimagit (hard to overcome that muscle memory and use Q)

This has been working fine for months when I was using commit cafba10.  Recently I upgraded to commit 5921ef4 and now I am getting an error.  Here are my steps:

Modify a file --> Open Magit with `:Magit` --> Stage file --> close with `:bd` --> Open again with `:Magit` --> error

(This is happening in a brand new

[2017-03-17 13:33] jreybert commented on #130
Thanks for such a wonderful bug report!

You screw up all my buffer scoped variables with your `:bd` :)

[2017-03-18 22:03] TamaMcGlinn commented on #129
[code]
[code]
[code]
[code]
[code]

[2017-03-23 20:39] TamaMcGlinn commented on #129
I have the reproduction steps now:

[code]

You get this error:
Error detected while processing function magit#stage_hunk[32]..magit#stage_block:
line    9:
E874: (NFA) Could not pop the stack !

[2017-03-23 23:04] jreybert commented on #129
Hm, thanks for such report.

I did try to get in the same setup as you: same nvim and vimagit version, reproducing all your steps. I can't reproduce your issue. I may try with the same git version, but I don't think it is related.

Do you mean `Shift-S` or did you map `C-S` for stage?

[2017-03-25 22:52] TamaMcGlinn commented on #129
Indeed, Shift-S.

I have it reproducible on a second machine; it has the exact same nvim & git version, but is on Vimagit commit 5921ef4230167e5208c4c97bff41bdc1d4538c54 (up-to-date with origin/master now)

It's the same debian build, just with more recent security patches:
Linux serenity 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1+deb8u2 (2017-03-07) x86_64 GNU/Linux

[2017-03-28 08:08] jreybert commented on #129
Thanks for keeping up with this bug. I will try again to reproduce.
If you have time, you may try to reproduce the bug with no other plugin than vimagit loaded, to discard any problem with other plugin.

[2017-03-28 17:22] TamaMcGlinn commented on #129
I think next I will try to get it reproduced in a virtual box, because then I can send you the virtual box file and you can debug it on that system.

[2017-03-28 23:15] ramok opened #131 "Change 'S' behavior in 'Commit message'"
I use 'S' in 'Commit message' I get "Error while staging".

It is possible in 'Commit message' return default behavior of 'S', i.e 'Delete lines and start insert'? Or do it via configuration variable?

I heavy use 'S', and this error annoying :(

[2017-03-29 09:40] jreybert commented on #131
This is a subject I am thinking on since several months. It make sense, I just want to do it right (.i.e without introducing bugs).

[2017-03-29 17:21] ramok commented on #107
Step for reproduce:
1. Stage some hunk
2. CC start writing commit message
3. Press '?' in command mode to show help.
Help will rewrite commit message
4. Press '?' again. In commit message I get left

5. Pressing '?' again and again add two lines every time

[2017-03-29 22:00] jreybert commented on #107
@ramok, the bug you are describing looks like #110 . It has been fixed in last release 1.7.0. Which vimagit version are you using? (SHA1)

[2017-03-30 15:51] ramok commented on #107
My bad. It's was old verision. After update everything fine. Thanks

[2017-04-06 16:24] sebastianst opened #132 "Feature: Auto-close magit buffer/window on clean state"
It would be great to have an option to let Magit automatically close its buffer or window if, after a commit, the repo state is clean, i.e. there are no more diffs.
If magit was opened with `:Magit`, it should close its window, if it was opened with `:MagitOnly`, it should wipe the buffer and show the previous buffer in the same window.

BTW, this also relates to a request regarding the `q` shortc

[2017-04-06 23:04] sfahlberg opened #133 "feature request: merginal integration"
unless I missed some way to switch branches, I think it would be awesome if you could integrate with merginal, or figure out a way improve on what they do

[2017-04-07 04:22] sfahlberg opened #134 "issue with vimagit buffer"
when I open magit and type `?` for the options, I get the following error ```Error detected while processing function magit#toggle_help[2]..magit#update_buffer[66]..magit#utils#clear_undo:
line    5:
E382: Cannot write, 'buftype' option is set```

any thoughts on how to rectify this?

[2017-04-07 07:51] jreybert commented on #133
Branch management in vimagit is in my radar list since the beginning of vimagit. It is quite a a big feature. I'll give a look to merginal, but I had in mind to handle branches internally.

[2017-04-07 07:52] jreybert commented on #134
To make it easier to reproduce, please supply the following:
* the version of vim or nvim
* the version of git
* the SHA1 of vimagit you're using
* the OS that you're using, including terminal emulator, GUI vs non-GUI
* a step by step command to reproduce the bug

[2017-04-07 07:56] jreybert commented on #132
Thanks for your ticket, I really like such clear improvement request 👍 .

I agree with both requests, I'll do it when I find some time.

[2017-04-07 15:30] sfahlberg commented on #134
NVIM 0.1.7
git version 2.8.4 (Apple Git-73)
hub version 2.2.9
vimagit: 5921ef4230167e5208c4c97bff41bdc1d4538c54
using iterm2, Build 3.0.14
El Capitan, version 10.11.6

in order to reproduce, simply type `:Magit`. The error will display then. It will continue displaying if you type `?`

Merci!

[2017-04-11 17:28] sfahlberg commented on #134
I figured it out- it was this line: `inoremap <C-[> <ESC>:w<CR>`.

[2017-04-21 07:33] nibrunie opened #135 "issue with .gitmessage template"
When using git commit.template, If a change is staged after a commit message has already been started the message template defined in .gitmessage is duplicated in  the "Commit message" section.

How to reproduce the bug
-> have an explicit git message template defined in an accessible .gitmessage file registered in git commit.template field
-> Stage a change
-> Start a commit message (e.g. with <C

[2017-04-29 06:38] rafi opened #136 "Misspelled GitHub description"
❌  Ease your git worflow within vim

✅  Ease your git workflow within Vim

[2017-05-02 11:26] jreybert commented on #136
Thanks!

[2017-05-02 11:26] #136 closed

[2017-05-19 23:59] guyzmo commented on #130
just for the note: I'm getting the same error. Actually, I'm not *exactly* using `:bd` but [`:Bdelete`](https://github.com/moll/vim-bbye) which is like `:bd` as it closes the buffer, but *not* the current window.

(I'm actually only using `:MagitOnly`, and I'd like to either get rid of `q` or at least make it close the `Magit` buffer not the current split window)

[2017-05-23 20:56] #130 closed

[2017-05-23 20:57] jreybert commented on #130
Hu @guyzmo , could you please open a new issue for your MagitOnly issue please?

EDIT: actually, thi issue already exists here: #132

EDIT2: #132 was too broad, now in #137 Could you please give it a try?

[2017-05-23 20:59] jreybert commented on #134
Hi @sfahlberg , sorry for the delay.

I am not sure to understand your last comment: your issue was caused by a mapping in your own configuration? If so, could you please close this issue?

Thanks

[2017-05-23 21:02] abaldwin88 commented on #130
Just pulled down the fix.  Works like a charm 👍

[2017-05-23 21:09] #135 closed

[2017-05-23 21:35] jreybert opened #137 "'q' in MagitOnly buffer should show the previous buffer"
BTW, this also relates to a request regarding the q shortcut in a magit buffer: If this buffer was opened with :MagitOnly, it currently closes the window. Instead, it should behave like said before and show the previous buffer instead of closing the window.

Seen in #132 and #130

[2017-05-23 21:40] jreybert commented on #132
I splitted your issue in a sub issue. Could you please give a try to #137 ?

[2017-05-23 21:40] jreybert commented on #137
@guyzmo @sebastianst could you please try the `dev/close` branch please? thanks for your feedback.

[2017-05-23 21:52] sebastianst commented on #137
`q` now leaves the window open when magit was opened with `:MagitOnly`. Thank you!
However, after committing the last change and the repo state is clean, the window still remains open and doesn't close automatically (#132).

[2017-05-23 21:59] jreybert commented on #137
@sebastianst glad it fits your need. And I did not forgot #132, I just split this issue up.

[2017-05-25 17:41] sfahlberg commented on #134
yes, that's right

[2017-05-25 17:41] #134 closed

[2017-07-21 14:39] jackfranklin commented on #112
Hey, sorry I was so slow and never replied! I just added this plugin today and it works fine !

[2017-07-21 14:39] #112 closed

[2017-07-28 11:12] sebastianst opened #138 "Error: multiple empty commits"
With the recent version of vimagit, I suddenly get several pop-ups in gvim asking whether I want to go ahead with an empty commit. I choose *no* every time and the commit history is as expected: The actual commit that I prepared with vimagit got committed. If I choose *yes*, after the normal commit there come several empty commits with empty commit message.

Any ideas what causes this? It just hap

[2017-07-31 09:54] jreybert commented on #138
* What version of vimagit are you using (SHA1)?
* Does it happens only with gvim, or also with vim?

[2017-08-01 13:34] jreybert opened #139 "Images for README"
![vimagit-1 7 2-demo-optim2](https://user-images.githubusercontent.com/533068/28827790-ee0ec640-76ce-11e7-840b-10a4f5e4eae4.gif)

[2017-08-01 13:34] #139 closed

[2017-08-01 14:15] #137 closed

[2017-08-01 14:27] guyzmo commented on #137
♥

[2017-08-01 19:03] duncanjbrown opened #140 "Feature request: encourage 72-character lines"
Thank you for this great plugin!

A small feature request.

In vimagit's commit mode, the first line of the commit is highlighted to encourage a 50-character length, but the rest of the commit has a line length of 80 characters. This means that my commit messages don't look quite right [on GitHub](https://github.com/blog/926-shiny-new-commit-styles) 🙂 .

I have been manually setting `textwidth=72`

[2017-08-03 09:39] jreybert commented on #24
See https://stackoverflow.com/questions/34099451/get-default-remote-push-and-default-remote-branch

From a script, I would like to get the default push remote and the default push branch.

For the recall, git will choose the remote between these settings, in this order:
* branch.<name>.pushRemote
* remote.pushDefault
* branch.<name>.remote
* very last default
  * origin if config push.default curr

[2017-08-03 11:16] fpnick opened #141 "Feature Request: Create new Branch"
Hi Jerome,

I just came across the following: I staged a couple of changes and thought: "Hey, I should open a new feature branch for this". However, that didn't seem to be possible in the Magit buffer, am I correct? So something like "Make this commit to a new branch (instead of the one I'm currently on) and change to that new branch."

That would be a nice feature, I think...

[2017-08-03 12:34] jreybert commented on #141
You're right, it would make a nice feature.

But I disagree the UI you describe. Create a new new branch is not correlated with a commit. It is correlated with checkout.

I think since a long time the best UI to checkout a branch, with completion of existing branches, and a prompt if the requested branch does not exists, asking the user if he wants to create a new branch.

What do you think of suc

[2017-08-03 12:53] jreybert commented on #140
Hi Duncan,
thanks for encouraging!

This is a good idea, but I am not sure I want to set `tw` for the user (I am still not sure...).

A first step will be a new user command: `VimagitLeaveCommit`. With this new command, adding following commands in your vimrc will set the textwidth when you are writing a commit message:

[code]

Give a try on `next` branch, add User autocmd in your vimrc and tell

[2017-08-03 14:14] fpnick commented on #141
That sounds good to me as well. The key point for me would be that I don't have to leave the Magit buffer in order to create the new branch.

What you describe regarding auto completion of existing branches would be a nice add-on, too.

[2017-08-04 10:38] duncanjbrown commented on #140
Thank you. I've done as you suggest. Will live with it for a day or two and let you know.

[2017-08-07 16:32] jreybert commented on #24
Current state of thought. Thanks to comment on:
* default mappings
* behaviors
* missing commands

There may be several commands:
* `CPP`: push current HEAD to default repo and remote branch. If no remote
* `CPPF`: push force current HEAD to default repo and remote branch
* `CP`: prompt the user to ask the remote and prompt again for the remote branch (with completion), and push
* `CPF`: prompt th

[2017-08-07 16:38] jreybert commented on #141
Current state of thought. Thanks to comment on:

* default mappings
* behaviors
* missing commands

There may be several commands:
* `CBB`: prompt the user, asking for branch name. the prompt provides completion. when user types enter, if the branch does not exists, propose to create it (with `git checkout -b`)
* `CBF`: prompt the user, asking for branch name. create this branch at HEAD, even if b

[2017-08-07 16:46] jreybert opened #142 "Add git stash command"
Current state of thought. Thanks to comment on:
* default mappings
* behaviors
* missing commands

In vimagit buffer, stage your files/hunks/lines/part of lines as before. Once all your stuff you want to stash is in **Stage section**, use new mapping `CS` to enter in mode **Stash**. It is like the **Commit** mode, a new section "Stash message" appears on top on vimagit buffer. Enter a stash messag

[2017-08-08 07:23] fpnick commented on #141
Agreed!

What just came to my mind: being able to initiate a merge (e.g. from a hotfix branch back to develop) from Magit would then also come in handy. This should probably be a 'follow-up' issue though.

[2017-08-08 09:00] jreybert commented on #141
Great. I would like a broader audience for the 3 new features (see also #142 and #24 ). If you want to participate, feel free to update the issues, and also discuss it on [gitter](https://gitter.im/jreybert/vimagit).

For the merge feature, this is a nice thought. It will be a new feature, but not right now. Handle nicely merge conflict is not that easy.

[2017-08-08 12:00] fpnick commented on #142
Personally, whenever I use git stash, I want to stash every file that's changed. I.e. a shortcut for "stash everything" would be nice.

[2017-08-08 12:06] fpnick commented on #24
I would cut `CPPF` from the list of commands: IMHO it's way too dangerous to have a shortcut for that. But this might be personal preference.

Secondly, for my personal use case it would be nice to have
`CPR`: ask the user for a remote name (with completion) and push to the upstream branch for that remote. I.e. like `CP` but without having to type the remote branch name.

[2017-08-08 12:07] jreybert commented on #142
I have the same request for commit. The real challenge is to find a mapping for that, even two mappings:
* stash everything modified
* stash everything modified + untracked

[2017-08-08 12:19] fpnick commented on #142
How about mimicking Vim's convention about doing things to a whole line, i.e. repeating the operation key (I'm thinking about 'dd' and 'cc' here).
In this case that would mean

- `CAA` to commit everything (from `commit -a`. The unfortunate thing here is that `CA` does something different
- `CSS` to stash everything. `CSSU` could be used to also stash untracked files.

[2017-08-08 12:22] jreybert commented on #142
I tend to avoid mapping overlap. If I set `CSS` and `CSSU`, the common command would IMO be `CSS`. But the command won't be immediate, as vim will wait for a possible `U` for `CSSU`.

[2017-08-08 12:54] fpnick commented on #142
True. `CSU` would avoid that.

[2017-08-08 13:15] jreybert commented on #71
Merged in master and present in release 1.7.2

[2017-08-08 13:15] #71 closed

[2017-08-08 13:15] jreybert commented on #140
Merged in master and present in release 1.7.2

[2017-08-08 13:15] #140 closed

[2017-08-08 13:15] jreybert commented on #125
Merged in master and present in release 1.7.2

[2017-08-08 13:15] #125 closed

[2017-08-08 13:15] jreybert commented on #137
Merged in master and present in release 1.7.2

[2017-08-08 13:16] jreybert commented on #128
Merged in master and present in release 1.7.2

[2017-08-08 13:16] jreybert commented on #130
Merged in master and present in release 1.7.2

[2017-08-08 13:16] jreybert commented on #135
Merged in master and present in release 1.7.2

[2017-08-08 13:17] #107 closed

[2017-08-08 13:18] jreybert commented on #50
This issue is closed, comment on issue #24 or on [gitter](https://gitter.im/jreybert/vimagit)

[2017-08-08 13:18] #50 closed

[2017-08-08 13:19] jreybert commented on #109
Merged in master and present in release 1.7.2

[2017-08-08 13:19] #109 closed

[2017-08-08 13:20] jreybert commented on #123
Merged in master and present in release 1.7.2

[2017-08-08 13:20] #123 closed

[2017-08-08 13:24] jreybert commented on #67
mid term rejected, will see later

[2017-08-08 13:24] #67 closed

[2017-08-08 13:25] jreybert commented on #26
mid term rejected, will see later

[2017-08-08 13:25] #26 closed

[2017-08-08 13:25] jreybert commented on #15
mid term rejected, will see later

[2017-08-08 13:25] #15 closed

[2017-08-16 14:21] duncanjbrown commented on #140
Can confirm that this is working well :+1:. Thanks!

[2017-08-27 18:29] axlebedev commented on #138
1. Bug exists at `0549731101b8c341d9732d3e9d74c6ba09bbf3ea add github issue template`
2. Gvim only

[2017-09-27 14:44] KeithScheiwiller commented on #138
I can confirm this is also happening at `0549731101b8c341d9732d3e9d74c6ba09bbf3ea` in neovim (via terminal). It seems to be a differing number of such empty prompts each time it happens.

[2017-09-27 14:45] jreybert commented on #138
Thanks for the update, I need to find time and track it down (damned Zelda...)

[2017-09-29 02:24] ntcong commented on #138
After a bit of bisect, I found the commit that introduced the problem: 36c277ea2e8e40755e9f864e4baa8d74b3ce4495

So it's the problem when we use :wq to commit, I switch to using CC to commit and it works without any notice. It weird that I don't have any problem with this until now, so maybe some changes in internal neovim/vim broke the plugin.

Also I think that wq should commit and close vimagit

[2017-09-29 08:36] #138 closed

[2017-09-29 08:40] jreybert commented on #138
Many thanks to @ntcong finding this sneaky bug!

I am just worried because I am not able to reproduce this bug, with vim or neovim, even if I see the multiple autocmd...

And for the `:wq` behavior, I am not sure. In my mind, `:wq` can be seen as "Write commit and close commit mode". But I agree it is weird because `:w` does the same thing.

[2017-10-02 14:30] kristijanhusak opened #144 "Syntax highlighting in diff"
What colors from color scheme is used to display the diff?
It looks like it's not using DiffAdd, DiffChange, etc.
I would like to update it because my color scheme setup gives some strange results, where added line is red and removed one is purple.

[2017-10-02 14:37] jreybert commented on #144
I import the syntax file `syntax/diff.vim`, and declare that everything in a hunk is a diff syntax.

I should be standard colors. Could you search if you have a `syntax/diff.vim` file in your `.vim/` path.

[2017-10-02 15:13] kristijanhusak commented on #144
Yeah it's using `diffRemoved` and `diffAdded` highlighting groups, i thought it's using the ones that vimdiff uses. So it's messed up in my color scheme. Thanks for help, keep up the good work!

[2017-10-02 15:13] #144 closed

[2017-10-16 12:53] robphoenix opened #145 "Adding empty .gitignore"
## Short description of the problem

When I use vimagit in my dotfiles directory it adds an empty `.gitignore` file. I have a global gitignore file called `gitignore` that I alias to `~/.gitignore`.

## Steps to reproduce

Make a change in [dotfiles](https://github.com/robphoenix/dotfiles) directory. Stage change with `S`

## Environment

* `vim` or `nvim` version
NVIM v0.2.1-dev

* `git` version

[2017-10-19 11:10] jreybert commented on #145
Hi @robphoenix ,

I can't reproduce your issue, even when I try from your repository.

Did you type <kbd>I</kbd> while you were staging? Typing <kbd>I</kbd> ignores the file under your cursor. By ignoring, I mean it appends the filename in `.gitignore` file (creating it if it does not exists). But in this case, I wonder how it could be empty...

[2017-10-23 18:57] robphoenix commented on #145
Hey @jreybert

Of course, now that I've raised the issue, I can't reproduce it either! :man_shrugging:

It could well be that I typed `I`,  that makes sense, and now that I'm unable to reproduce it I'm starting to doubt myself that it was an empty `.gitignore`. Oh well, sorry for the time suck, I appreciate you going to the effort for the issue anyway. And thanks for the plugin! :sparkles:

[2017-10-23 18:57] #145 closed

[2017-10-23 21:10] fpnick opened #146 "Feature Request: Add Files to .gitignore"
Good evening,

Another nice short cut would be if I could place my cursor on a non-tracked file in the Magit Window and add (append) it to the .gitignore file with a single (or two) keystroke.
Thinking this one step further, another option would be another keystroke to add all files with the extension of the file under the cursor to the .gitignore file, i.e. *.ext

I do realize that this might be

[2017-10-23 21:49] jreybert commented on #146
Hi @fpnick,

this feature actually exists, it came in the very beginning of the project. Just press <kbd>I</kbd> when your cursor is on a file, and it's filename will be appended to gitignore.

It is a very dumb feature, which does not do much. Your second point is interesting, I keep it in mind.

My concern is that you did not find it in the documentation. I feel the doc is quite exhaustive, but

[2017-10-24 07:20] fpnick commented on #146
Hi @jreybert ,

now that you say it, I found it in the vim help by just searching for 'ignore'. Which I could've done in the first place - sorry!

What I did yesterday was I searched for that feature on the Github page, where I didn't find it. So my suggestion I guess would be to have an exhaustive list of say all the one key commands (having ALL commands in there might be overkill) on the Github

[2017-10-24 08:03] jreybert commented on #146
Damned, you made a good point. gitignore command was on the github README page, it just disappeared during a merge! Actually, github page and vim doc should have roughly the same content.

Thanks again.

[2017-10-24 08:03] #146 closed

[2017-10-24 08:04] jreybert commented on #146
Feel free to open an issue for your extension ignore feature.

[2017-10-24 09:42] fpnick opened #147 "Feature Request: Add all files with specific extension to .gitignore."
In the Magit buffer, when the cursor is on an untracked file, the 'I' key will add that file to .gitignore, see #146 .
In some situations it could be useful to add all files with the same extension to .gitignore. I.e. if the cursor is on the file foo.bar, add the line *.bar to .gitignore.

[2017-10-26 22:28] deftpunk commented on #129
I was seeing this same error after making some updates to my init.vim - installed vim-textobj-user, vim-textobj-python, [splitjoin](https://github.com/AndrewRadev/splitjoin.vim) & added a leader mapping of MagitOnly.

I backed out the changes, then added them back one at a time, excepting [splitjoin](https://github.com/AndrewRadev/splitjoin.vim), and now do not have any errors ... <shrug>  I have

[2017-10-27 07:30] jreybert commented on #129
@deftpunk I can't reproduce your bug, even with splitjoin installed.

Would you mind to try with splitjoin again, and fill following points:
*    the version of vim or nvim
*    the version of git
*    the SHA1 of vimagit you're using
*    the OS that you're using, including terminal emulator, GUI vs non-GUI
*    a step by step command to reproduce the bug

Thanks!

[2017-10-30 16:58] remofritzsche opened #148 "Feature request"
First of all, thanks a bunch for vimagit - this may finally be the perfect solution for me so I don't need any GUI tools anymore!

Just one little thing: Am I right that it currently isn't possible to discard a visual selection? This would be a tremendous help. Thanks for considering this.

[2017-10-31 09:00] jreybert commented on #148
Seems to be a pretty reasonable feature request.

You are right, it is not possible to discard a selection for now. Actually, in my flow, I stage everything I want, and then I discard the rest of a hunk. But your request fits perfectly in vimagit grammar.

If I may, this would made a perfect pull request: all the bricks are here to add this feature, you just have to put them together! If you don't

[2017-10-31 09:04] jreybert commented on #147
What could be the mapping for this new feature?

I would like to make it kind of composable: ignore file would become <kbd>II</kbd>, and ignore extension would be <kbd>IE</kbd>.

<kbd>I</kbd> will still be mapped to ignore file, but there will be a delay after the keystroke as there will mappings <kbd>I</kbd> + something.

[2017-10-31 11:52] sudoremo commented on #148
Thanks for your quick response. I'm far from an expert in vimscript, but I can sure give it a try. Just to make sure: One could not discard individual characters, but just all of the lines "touched" by the visual selection. Is that correct?

And what key binding do you see fit for this visual mode command?

[2017-10-31 12:39] jreybert commented on #148
Actually, it should almost work out of the box. My main concern is that visual selection is broken in `next` branch :/ (bad code coverage!...)

I fix that in branch `next`, and I look if it works.

[2017-10-31 13:20] jreybert commented on #148
You can take a look to `dev/discard_vselect` branch: I plugged the bricks, but it fails to discard: `magit#git#git_unapply` does not work to discard a part of a hunk, it misses some git magic around here...

[2017-10-31 15:13] iaia opened #149 "An error occurs when commit set at the end of magit_default_sections"
## Short description of the problem

An error occurs when `commit` is set at the end of `g:magit_default_sections`

[code]

## Steps to reproduce
e.g. `let g:magit_default_sections = ['global_help', 'info', 'unstaged', 'staged', 'commit']`

In stage mode, type `CC`.

## Environment

VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Oct 22 2017 18:11:06)

[2017-11-05 09:28] jreybert commented on #149
Damn it, I thought this corner case would never be spotted by anyone!

Thanks for the PR.

[2017-11-05 09:29] ciases opened #151 "Update 'Visual selection' help docs"
Hello!
Help docs says that:
[code]
but as I see it also works in `Stage` area to unstage lines.

[2017-11-06 09:52] jreybert commented on #151
You are right! It has been fixed in #32 , but help doc and readme have not been updated...

[2017-11-06 09:59] #151 closed

[2017-11-06 10:01] jreybert commented on #126
Hi @dfishburn , I appreciate your improvement help for windows support. Did you succeed to run vimagit commands in verbose mode?

[2017-11-06 10:07] jreybert commented on #131
@tuddman @ramok could you give a try to `next` branch. Mappings now have different behavior depending on the cursor position.

[2017-11-06 10:10] jreybert commented on #133
Duplicated by #141

[2017-11-06 10:10] #133 closed

[2017-11-06 13:08] jreybert commented on #132
@sebastianst could you please give a try to branch `next`, setting the option `g:magit_auto_close` to 1

[2017-11-06 16:05] ramok commented on #131
Just try it. Perfectly working for me. Thank you! :)

[2017-11-06 16:05] #131 closed

[2017-11-07 13:18] jreybert commented on #149
Thanks for the PR!

[2017-11-07 13:18] #149 closed

[2017-11-17 05:30] cryptomaniac512 opened #152 "The magit buffer is editable"
## Short description of the problem
The magit buffer is editable. This causes some confusion, since it raises doubts about the reliability of the situation and the work with its changes.

I think that magit buffer should be read-only and be managed only through commands.

## Steps to reproduce
Call `:Magit', type `A`, `i`, `O` or another command to go into insert-mode

## Environment

* `vim` or `

[2017-11-17 09:40] jreybert commented on #152
This is actually a feature. You can modify your hunks, following rules in the documentation, you can stage only part of lines.

However, I get your point. This is an advanced feature, and it is not used much. I can do the following:
* add a `g:magit_editable_buffer` option to globally enable/disable this feature
* when enabled, add a mapping to enter in edit mode
* add the state of the magit buffe

[2017-11-17 10:43] sivakov512 commented on #152
Hm... I can edit staged\unstaged sources inside Magit buffer?

[2017-11-17 10:46] jreybert commented on #152
You can edit unstaged sources. Edit stage source is not restricted, but it won't do anything.

[2017-11-17 10:51] sivakov512 commented on #152
Sounds dangerous =)

Yes, I realy need it, thank you =)

Previously, I could not return from the Emacs to Vim\Neovim, because I'm dependent on the Magit and especially the ability to stage hunks, but now thanks to you I have a chance to do it =) (too bad English)

[2017-11-17 12:25] jreybert commented on #152
Thanks for your feedback usage!

[2017-11-17 12:52] sivakov512 commented on #152
Can you inform here when this feature will be implemented?

[2017-11-21 12:10] jreybert commented on #152
@cryptomaniac512 could you please:
* give a try to `dev/nomodifiable` branch (please do it a week long, I would to be sure to not break anything, this is quite a big change).
* review the explanation about editing hunks here: https://github.com/jreybert/vimagit/tree/dev/nomodifiable#inline-modifications

Thanks

[2017-11-21 18:19] sivakov512 commented on #152
Looks good.

After I finish editing (started with `E`) how to turn off the `modifiable`?

How to open file displayed in magit buffer? Previously it was possible with `E` (But the file was opened not in the place where `E` was pressed)

[2017-11-23 12:17] jreybert commented on #152
You quit edit mode when you refresh the vimagit buffer: it happens when you stage something (with `S`, `F`, `L`) or when you intentionally refresh the buffer with `R`. Maybe pressing `E` again when you are in edit mode should leave edit mode.

You are not the first one noticing that. I  did not thought this feature was used as much. I was not sure to change this mapping, changing mapping is always

[2017-11-23 12:23] sivakov512 commented on #152
This is a cool feature! It works in Emacs Magit and I use it every hour =)

[2017-11-23 12:23] jreybert commented on #152
I am working on another branch to get a precise jump.

[2017-11-23 12:25] sivakov512 commented on #152
Thanks!
Can you show me link to this branch?

[2017-11-23 13:38] jreybert opened #153 "Make jump to file line precise"
Discussed in #152, actually the solution is really easy.

[2017-11-23 13:41] jreybert commented on #152
It landed in branch `next`.

[2017-11-27 12:55] ciases opened #154 "Open magit in new tab"
Hello!
It will be nice to have an option to open a magit buffer in new tab.  In that case it will be easier to review files IMO.

[2017-11-27 13:01] jreybert commented on #154
you can map your own like:
`map <Leader>M :tabnew +MagitOnly<cr>`

[2017-11-27 13:11] ciases commented on #154
Superb! Thanks!

[2017-11-27 13:11] #154 closed

[2017-12-04 07:26] sivakov512 opened #156 "E874: (NFA) Could not pop the stack !"
## Short description of the problem
Can not stage hunk

## Steps to reproduce
- Make some changes
- Add one hunk
- Commit
- Try stage another hunk

## Environment

* `vim` or `nvim` version
`NVIM v0.2.2`

* `git` version
`git version 2.15.1`

* current vimagit version or (or SHA1)
latest

* OS
Void Linux

* terminal or gvim
xfce4-terminal

## Screenshot with problem
![image](https://user-images.gi

[2017-12-05 08:50] jreybert commented on #156
I can see that you have `magit#stage_vselect` in your backtrace: do you try to stage a visual selection?

Could you provide the key typed at each step?

Thanks

[2018-02-01 12:12] SevereOverfl0w opened #158 "Split hunks"
It would be convenient to have a command for splitting hunks into smaller hunks. Much like the interactive patch command does with `s`.

I've had a few cases where lines changed close to each other, but were fully independent.

[2018-02-01 13:17] jreybert commented on #158
Hi,

not sure to understand. It seems you are asking for one of the main vimagit feature.

You can stage part of hunk, either:
* by visually selecting lines with `v`, then staging selection with `S`
* by marking lines with `M`, then staging selection with `S`
* by staging line by line, with `L`

See https://github.com/jreybert/vimagit#visual-selection

You can even edit a line before staging, allo

[2018-02-01 13:34] SevereOverfl0w commented on #158
I possibly just ran into an edge case. I solved my problem by using a visual selection at the time though.

The feature I was really asking for was the ability for vimagit to break down the hunk for me, because there's reassurance in seeing the hunk first I think, I'm also quite lazy.

On February 1, 2018 1:17:41 PM GMT+00:00, "Jérôme Reybert" <notifications@github.com> wrote:

--
Sent from my And

[2018-02-01 13:53] jreybert commented on #158
You can also force git to shrink/enlarge the diff context, using the keys <kbd>+</kbd> and <kbd>-</kbd>. Then, you will get smaller/larger hunks.

But you can't say to vimagit (which means saying to git in the end): split the display of this hunk at this point.

[2018-02-01 13:53] #158 closed

[2018-02-01 13:58] jreybert commented on #158
OK, I now understand what you meant (I did not know the `s` command in `git add patch` interactive mode.

Well, maybe the shrink/enlarge mapping could update only the current hunk.

Is this feature a real need for you?

[2018-02-01 14:10] SevereOverfl0w commented on #158
The +/- was something I tried, but didn't have the desired effect. Admittedly, it didn't seem to do anything, so I might have been doing something wrong.

Strong need? I'm not sure. I've only applied vimagit a handful of times, but it's come up on about 40% of my attempts at using it.

[2018-02-05 12:37] jreybert commented on #156
ping @cryptomaniac512

[2018-02-05 12:45] sivakov512 commented on #156
Oh, sorry
as far as I understand, git does not allow me to stage any hunks. I observe a similar one in magit, but magit stage all hunk instead of error

[2018-02-16 12:12] erAck opened #159 "Pre-commit hook preventing commit leads to Vimagit wanting to amend the last commit"
Having a pre-commit hook that vetoes the current commit (for example because of trailing blanks or other checks), Vimagit on pressing CC acts as if CA was pressed and wants to amend the last commit instead of creating a new one.

[2018-02-16 12:18] jreybert commented on #159
OK, I get your setup.

Anyway, could you provide your pre commit hook and a faulty commit please?

[2018-02-16 12:26] erAck commented on #159
Hook in question is https://cgit.freedesktop.org/libreoffice/core/tree/.git-hooks/pre-commit
Faulty commit would be any source file with a trailing blank on a line.

[2018-02-16 12:27] jreybert commented on #159
OK thanks.

[2018-03-06 20:20] unphased opened #160 "Error using "S" on an expanded hunk"
[code]

Have you seen this before?

I have many (MANY!) vim plugins. I do not have time right now, to bisect for conflicts, but just want to know if this is a known problem. Seems not to be.

I also have a question, can we think about making the formatting more colorized and clearer where the boundaries are between the unstaged changed hunks?

[2018-03-06 20:23] unphased commented on #160
These errors don't seem to be actual bug-errors. I'm reading the built-in help now (thanks for making that!!!) and the features seem to work. So "S" is supposed to only for using on the top of the expanded hunks... I disagree with this, S should stage the hunk, you've already got a diff key for marking individual lines to stage ("M")!

[2018-03-06 20:26] unphased commented on #160
I just encountered a situation where I couldn't use S to stage, with the error that I posted above. Even while on the first line of the hunk!

I think my point is that these errors really need to be prettified...

[2018-03-07 12:20] jreybert commented on #160
I am not sure to understand all your points in this issue.

You can use the mapping `S` in the middle of a hunk to stage the complete hunk.

In the backtrace you provide, it seems you have a some line selected while you are pressing `S`. Is it intended? If you want to stage a complete hunk, you don't have to select lines. If you want to stage a part of a hunk, you can select some lines in **one si

[2018-03-07 12:24] jreybert commented on #156
Did finally succeeded to stage some hunks with vimagit?

You say you can't stage by hunk with magit too, do you think the problem is not in vimagit but in your environment? In that case, I am interested to understand your environment to maybe handle it wisely in vimagit.

[2018-03-07 12:27] sivakov512 commented on #156
I don't use vim now (because I can't live without all magit features), but I will try to reproduce it in the coming days.

[2018-03-07 18:19] unphased commented on #160
@jreybert what you describe is consistent with the documentation and instructions that I see for this plugin. I will get back to you. I seem not to be able to reproduce the errors that I saw yesterday now, so it appears to correspond also to behavior that I'm seeing.

This is a very useful plugin, thank you for making it.

[2018-03-19 21:12] jlesquembre opened #161 "Feature request: jump to next/previous file"
First, thanks for vimagit, it's a great plugin.

What do you think about adding a mapping to jump to the next/previous file? Similar to the jump to next hunk.

Thanks

[2018-03-20 09:46] jreybert commented on #161
Thanks @jlesquembre . I already thought about this mapping, it is very easy to implement. The main difficulty is to find 2 new mappings...

[2018-03-20 09:54] jlesquembre commented on #161
Personally, I like `<C-J>` and `<C-K>`. Or I think it should be also possible to create a `<Plug>` mapping and let the user decide

[2018-04-05 10:05] kristijanhusak commented on #59
@jreybert why vimagit has to bring more to git blame then fugitive or gita? Most of people want to use only one git plugin, and as @dkns noted, pulling in another plugin just to use single feature is redundant.
It's same for me, only thing i use from fugitive is blame, since i don't like the other parts, but here i like everything, but only missing this blame feature. I agree with Unix philosophy,

[2018-04-05 11:50] jreybert commented on #59
Hi @kristijanhusak .

You are quite right, use only one plugin would be better. But:
-  I don't have the time to add features which do not exist in other plugins (#23, #142, #83, one day handle rebase like magit), mimic existing behavior is a very low priority
- fugitive is not that huge, loading it at vim startup is not noticeable. Unify fugitive blame mapping with vimagit should be easy.

So, I

[2018-04-05 12:25] kristijanhusak commented on #59
@jreybert I understand that it's low priority, and that's completely fine, but rejecting it should not be a case. @dkns offered to contribute, so if someone else can do it, why not.

[2018-04-05 12:42] jreybert commented on #59
You make a point. I remove the rejected flag and reopen the issue.

@dkns, if you are still interested to develop this new feature, feel free!

[2018-04-05 12:44] kristijanhusak commented on #148
@jreybert I gave this a test with `dev/discard_vselect` branch, by visually selecting the line i want do discard, and doing `DDD`. I got this error:

![error](https://i.imgur.com/DC8HJNQ.png)

[2018-04-05 12:56] jreybert commented on #148
@kristijanhusak you are promoted to be the vimagit user of the month!

As I stated in october, the dev branch does not work as is. Thanks for the feedback. This should be a simple issue. I forgot it because I let a chance to @remofritzsche to make a PR (no problem @remofritzsche , there was no obligation to do the PR ;) ).

I will try to find some time to finish this feature.

[2018-04-05 12:58] jreybert commented on #160
Hi @unphased ,

it seems that your problem is solved. Can I close the ticket?

[2018-04-05 14:02] unphased commented on #160
Yep

[2018-04-05 14:02] #160 closed

[2018-04-05 14:19] kristijanhusak commented on #161
@jlesquembre you can use `}` and `{` to jump between the empty lines before each file.

[2018-04-06 13:34] ashishnargundkar opened #162 "Ungraceful behaviour when opening magit outside of a git repo"
## Short description of the problem
#### With the code in vimagit's `master` branch, I get the following error message:

[code]

I'm not quite familiar with the codebase yet, but here are my two cents. Changing https://github.com/jreybert/vimagit/blob/8c7c01298d2d2793f9aa81d370f0de88bf9c4625/plugin/magit.vim#L712 to a simple `return` not only silences the uncaught exception complaint (`E605`) but

[2018-04-20 14:10] sivakov512 commented on #156
I still have not found the time to check it out and I'm not sure I'll find it. Sorry :(

[2018-04-25 11:49] remofritzsche opened #165 "Discarding untracked file results in an error"
## Short description of the problem

Discarding an untracked file results in an error, even though `g:magit_discard_untracked_do_delete` is set to `1`.

Thanks a bunch for looking at this and keep up your amazing work 👍

## Steps to reproduce

* Add `let g:magit_discard_untracked_do_delete=1` to your `.vimrc`
* `touch untracked.txt`
* `:Magit`
* Go to line of `untracked.txt`
* `DDD`

This results

[2018-05-10 10:28] LiquidFire opened #167 "View does not scroll after staging a hunk"
## Short description of the problem

After you use S to stage a hunk, the cursor moves to the next hunk and its fold is expanded. However, in some cases that hunk was beyond the end of the screen so you can only see the top few lines of it (depending on your `'scrolloff'`).

It would be nice if vimagit scrolled so that the next hunk is at the top of the screen following `S`, in the same way it hap

[2018-05-10 10:39] jreybert commented on #167
I am almost sure that this behavior is implemented in branch next (if not, it should be in some dev branch).

Feel free to test branch next and update this ticket.

[2018-05-10 12:18] LiquidFire commented on #167
You are right, this is fixed by [f32316dc](https://github.com/jreybert/vimagit/commit/f32316dcc7e4de3751b9a1bb32555cb04a8c6029) on the next branch.

Thank you!

[2018-05-27 06:30] iaia opened #168 "Error detected while processing function <SNR>96_nmapping_wrapper[2]..magit#stage_hunk[32]..magit#stage_block"
## Short description of the problem

[code]

type `S`

[code]

## Environment

* `VIM - Vi IMproved 8.1 (2018 May 17, compiled May 24 2018 10:14:40)`
* `git version 2.16.2`
* current vimagit version or (or SHA1): `1.7.2`
* OS: `macOS 10.13.4`
* terminal

[2018-05-28 09:15] jreybert commented on #168
I can't reproduce your issue. Could you please:
* add to this issue all the vimagit options set in your vimrc
* copy paste the exact vimagit buffer (including the empty lines at the end of this buffer). I am actually wondering why I don't see two empty lines after your line: `+alias bu='bundle update'`

[2018-05-28 09:21] iaia commented on #168
[code]

[code]

[2018-05-28 11:31] jreybert commented on #168
Do you have Japanese characters in place of `xxxx` in:
[code]
?

[2018-05-28 12:32] iaia commented on #168
No.

I tried another machine.

<img width="1402" alt="2018-05-28 21 30 11" src="https://user-images.githubusercontent.com/1254889/40614610-75c78672-62be-11e8-8874-d11a34054975.png">

[2018-05-28 15:03] jreybert commented on #168
Crap, all my simple suppositions were wrong... Please keep your faulty repository with this exact state in a safe place, so we can reproduce it.

[2018-06-18 09:36] balzss commented on #24
Hi,

First of all, thanks for the great plugin! I'm not a fan of Git GUIs but typing every command separately is not only tiresome but a bit limiting (e.g. I'd never stage separate hunks via CLI) so this is the perfect tool for me. The only thing I'm missing is the aforementioned push support and I understand that for a rich experience all these completion features and options are really important

[2018-08-03 21:19] haomeng689 opened #169 "Magit cannot find the repo"
Magit cannot find the repo.
My vim version is 8.1 and my git version is 2.9.5 which is installed on the ~/git-2.9.5. I have made the PATH environment variable to include the ~/git-2.9.5. I did create the repo. However, Magit still cannot find the repo.

[2018-09-04 00:28] wilt00 commented on #156
I think I have a repro for this bug:

* Initialize a git repository
* Paste the following text into a file:

[code]

* Commit this file to the repository
* Modify the file so it looks like this:

[code]

* Attempt to stage change in Magit. I get this error:

[code]

nvim v0.3.2-dev
vimagit 1.7.2 (according to the changelog file)
git 2.18.0
Bash on Ubuntu on Windows
Terminal (Mintty 2.7.9 x86_64-pc

[2018-09-04 08:11] jreybert commented on #156
Thanks @wilt00 for your effort trying to setup a simple to reproduce this error.
This is sad, but I can't reproduce following your steps. I match your configuration for nvim, vimagit and git versions.
I doubt it could come from Ubuntu or the terminal, but at this point, who knows...

The only way I see to continue this investigation would be for you to let me try with a remote access on your machi

[2018-09-05 04:14] mg979 opened #170 "vimagit can be very slow"
## Short description of the problem
vimagit buffer update can take ages. It usually happens when there are a lot of changes. My guess is that it has to do with folding, because if I abort with `<C-c>` while the process is stuck, close the buffer and reopen vimagit, hunks are staged/unstaged correctly. Maybe vimagit updates the buffer while folding is active, bit by bit? In this case a possible sol

[2018-09-28 10:05] akrejczinger commented on #156
I also had the same issue.
I managed to reproduce the issue in a Docker container: `docker run --rm -it hoborg/vimagit_bug_156`
Then follow the instructions by @wilt00
I hope it helps fix the problem.

[2018-09-28 13:12] jreybert commented on #156
@akrejczinger thanks a lot for the docker image.

I never used docker, how am I supposed to get your docker image hoborg/vimagit_bug_156 ?

[2018-09-28 21:02] akrejczinger commented on #156
@jreybert
- install docker: instructions [here](https://docs.docker.com/install/linux/docker-ce/ubuntu/#install-using-the-repository) for ubuntu
- run the command `docker run --rm -it hoborg/vimagit_bug_156`. It will download the image from Docker Hub automatically if it's not found on your machine already.

Docker hub link: https://hub.docker.com/r/hoborg/vimagit_bug_156/
The dockerfile is availa

[2018-10-03 20:22] jreybert commented on #156
I can finnaly reproduce your issue! Thanks a lot @akrejczinger for your docker image.

[2018-10-03 21:58] jreybert commented on #156
Finally, I got it! Thanks @akrejczinger for the docker, thanks @wilt00 for the step by step, and thanks @sivakov512 for opening this issue.

It was actually very fast to fix, but a little bit harder to introduce this case in the test suite!

Would you mind test the branch `next` so I can cherry pick this into master?

[2018-10-03 22:05] wilt00 commented on #156
Looks fixed! Thanks for all your work on this @jreybert !

[2018-10-03 22:06] jreybert commented on #156
Finally, I got it! Thanks @akrejczinger for the docker, thanks @wilt00 for the step by step, and thanks @sivakov512 for opening this issue.

It was actually very fast to fix, but a little bit harder to introduce this case in the test suite!

Would you mind test the branch `next` so I can cherry pick this into master?

[2018-10-03 22:42] jreybert commented on #168
Finally, thanks to another issue #156 , I also fixed your issue.

Would you mind @iaia to test the branch `next`?

[2018-10-04 01:02] iaia commented on #168
@jreybert I tried `next` branch. Successfully added to the stages. Thank you for fix.

[2018-10-06 19:56] #153 closed

[2018-10-06 19:56] #156 closed

[2018-10-06 19:56] #168 closed

[2018-10-06 19:59] jreybert commented on #162
Thanks for the advice, it is actually a good one.
I just discover you ticket, I don't know how I missed it...

[2018-10-06 20:01] jreybert commented on #165
The error appears only if the file you discard is empty. Thanks for the report, it will be an easy one.

Sorry for the delay, I just start to unstack all the tickets of the year...

[2018-10-08 12:09] #165 closed

[2018-10-08 12:33] jreybert commented on #169
Hi,

sorry for the late answer.
Do your new repo contains any commit? Or do you try to start vimagit just after the `git init` command? In the last case, this is an issue, vimagit does not handle correctly a git repo freshly init'ed.

[2018-10-08 12:35] jreybert commented on #170
Thanks for your report, this is a lead I never explored.
I'll dig around it and update this ticket if I find anything relevant.

[2018-10-08 12:39] mg979 commented on #170
Maybe it has also to do with certain filetypes, because usually it's fast. It behaved worst with dos files with very long lines and lots of tabs (a sort of table).

[2018-10-09 11:27] jreybert commented on #170
As you mention very long lines, it reminds me that vim by itself can be very slow with long lines, because of syntax coloring.

[2018-10-09 11:29] jreybert commented on #170
By any chance, would you have a public repository which makes vimagit slow?

Could you also test with this following setting in your vimrc:
`let g:magit_default_fold_level = 2`

[2018-10-09 19:12] mg979 commented on #170
You could try with [this commit](https://github.com/mg979/vim-xtabline/commit/f972586f6c982fbe633f9aa33f0d73241e5f7f59), make a branch out of it, then `git reset --hard HEAD^` and squash the original branch without committing, so that you can have the unstaged commit in vimagit.

The README.md file takes a lot to be staged/unstaged, but hit `<c-c>`, quit vimagit, and enter again, you'll see that t

[2018-10-09 19:29] #169 closed

[2018-10-09 19:37] jreybert commented on #170
Excellent, thanks a lot for your input!

[2018-10-12 15:13] jreybert commented on #170
Hourray! It has been fixed!

Thanks a lot for all your input, it wouldn't have been possible without that.

Could you try the branch next?

[2018-10-12 18:35] mg979 commented on #170
Thanks, I'll be able to test it in a few days because I have only Windows in this machine and gvim there doesn't seem to have this problem (even if it's slow on its own because command line stuff seems to much slower on Windows anyway), but I'm confident it will work :)

[2018-10-17 01:33] mg979 commented on #170
Ok I tested it and it seems perfect to me, much more responsive, thanks!

[2018-10-17 01:33] #170 closed

[2019-01-25 09:19] tiagoboldt opened #171 "Stage all mapping"
## Short description of the problem
In Stage mode, we have to individually pick the files/chunks to be staged. It is not possible to stage all changes files at once.

Suggestion for improvement: new mapping to stage all file. An alternative, if I visual select the whole Stage buffer and use the stage mapping, that all files are staged at once.

[2019-01-28 12:22] jreybert commented on #171
That's a good idea. The main obstacle for that new feature is the mapping.

The natural mapping should be `SA`, for `S`tage `A`ll. But it would break the main mapping `S`, adding a pause after the lone `S` keypress.

Then, main mapping Stage could be `SS`, allowing a lot of `S`something declination mappings. But I am quite hesitant to break the main mapping.

Fill free to add any remarks about tha

[2019-01-28 12:33] tiagoboldt commented on #171
The localleader could be used for vimagit buffer-specific mappings. `localleader S-A` could stage all, leaving the simple `S` with the behavior it has today. `localleader` could be used in the future to prepend additional complex mappings.

[2019-02-21 10:15] flagello opened #173 "Support `confirm` and `swapfile`"
`:q<CR>` and `:confirm q<CR>` behave identically with a modified buffer in/after commit mode, and the commit message is lost. Moreover with `noswapfile` there‘s no way to recover it.

[2019-05-23 14:14] drazde opened #174 "Error after install when open `Magit`"
## Short description of the problem
When I do `:Magit` it give me this error:
![immagine](https://user-images.githubusercontent.com/2643448/58259417-c4074580-7d74-11e9-9b03-c29083ed0037.png)

## Steps to reproduce
1. open a file under git
2. do `:Magit`

## Environment
* vim 8.1 x64
* git 2.19.1 Windows
* vimagit (latest release 1.7.3, I use  `Plug`)
* Windows 10
* gvim

[2019-07-04 07:55] jreybert commented on #174
Hi, sorry for the delay, I postponed your issue first, then I shamely forgot it...

- is your file in a git repository
- what is the full path of your file, and the full path of your git repo?
- open your file with vim, and give me the output output of the commands
  - `:expand("%:p")`
  - `:call getcwd()`

[2019-07-04 08:44] drazde commented on #174
No problem :)

Yes

`R:\test\prova.txt`

  `E492: Non è un comando dell'editor: expand("%:p")`
Is not a command of the editor...

Nothing result

[2019-07-04 08:59] jreybert commented on #174
Crap, my viml is rusted.

Could you give me the output of :
- `:echo getcwd()`
- `:echo expand("%:p")`

[2019-07-04 09:50] drazde commented on #174
Hihi ok, it seemed strange

R:\test

R:\test\prova.txt

[2019-07-17 15:30] sun617 commented on #174
has any `echo` in your fish config?
remove that `echo` may be resolve the problem

[2019-07-18 08:54] drazde commented on #174
I have this error on Windows not on Linux, do you mean fish shell?

[2019-07-20 06:53] taigacute opened #175 "Is this plugin still alive?"
HI ， sorry for broken issue template， i switched vimagit。but i saw it didnt update a long time.so i want know this pluin still alive?

[2019-07-20 07:02] taigacute commented on #24
i want  know it implement? vimagit support git push?

[2019-07-24 03:30] wwade opened #176 "User-configured diff.noprefix breaks stage / unstage"
## Short description of the problem
When `diff.noprefix` is enabled (e.g. `git config --local diff.noprefix True`), stage / unstage fails to apply.

Error output:
[vimagit-error.txt](https://github.com/jreybert/vimagit/files/3424892/vimagit-error.txt)

## Steps to reproduce
1. Enable diff.noprefix: `git config --local diff.noprefix True`.
2. Using magit, attempt to stage a change.

## Environment

[2019-07-24 08:40] jreybert commented on #176
Fixed, thanks

[2019-07-24 08:40] #176 closed

[2019-07-24 08:42] jreybert commented on #175
It is.

vimagit is very stable. I have lot of ideas for new features, but no time for it.

I try to fix any stability issue.

[2019-07-24 08:42] #175 closed

[2019-07-24 08:43] glepnir commented on #175
@jreybert ...all right i think its not alive. i also has lots of idea . i forked it and make Recent commits show in floatwindow...

[2019-07-24 08:52] glepnir commented on #175
this is my make more like emacs magit
![1](https://user-images.githubusercontent.com/41671631/61779507-63a78980-ae33-11e9-89e4-95ae7e299622.png)

by the way how can i set the magit buffer on right?

[2019-07-24 08:55] jreybert commented on #175
Not sure to understand your conception of alive.

On my side, I prefer to let the plugin stable, and add new feature only when I am sure that it does not break anything. It asks a lot of time, especially expending the test suite for every new feature.

When I heard about the floating window, I thought it would maybe be useful for vimagit.
I would love to hear your ideas, maybe a good place to disc

[2019-07-24 08:58] jreybert commented on #174
@drazde sorry, I do not have any idea about your problem right now, and it is difficult to test on windows. Did you try on another system with windows 10? Do you have the same issue?
Did you try on another repository, in another in your system?

[2019-07-24 09:03] glepnir commented on #175
Because you haven't responded to this issue for a long time, I thought it was dead. So I am trying some of my ideas, if you agree, I would very much like to submit pr。 i added this gitter.but i found the latest talk is 2018....I did not intend to promote my fork. Because I can't finish my thoughts. My vimscript is just primary，by the way i set it on right :)

[2019-07-24 09:12] jreybert commented on #175
OK, I understand better now.

Your modifications touch the core of the vimagit GUI, it will ask a lot of work to make it stable.

[2019-07-25 12:52] drazde commented on #174
I use both Linux and Windows, on linux is ok on Windows I have that problem

Yes the same problem.

My home dir have space in the path coud be a problem?

[2019-07-25 13:06] jreybert commented on #174
spaces in path have been a problem, and fixed a long time ago on Linux. Yes, it may be a problem on windows too, and the fix may be different.

Do you have a way to test the exact same repository in a path without space?

[2019-07-26 10:29] drazde commented on #174
I don't understand what could have happened,
but I ave no more the problem!

I close the bug, but I don't underestand what has changed

[2019-07-26 10:29] #174 closed

[2019-09-05 20:16] Nelyah opened #178 "Feature request: User define the commit trigger command"
Thank you a lot for the Magit plugin, I really love it!

One thing that bothers me though is that I cannot customise the command which will trigger the commit. I have this compulsion to save whenever I exit `INSERT` mode. The thing is, saving triggers the commit if the commit message is not empty.

I would like to be able to set what will trigger the commit message.
Another solution would be to on

[2019-09-22 21:47] mikob opened #179 "Other tips for performance?"
## Short description of the problem
Staging hunks takes ~8s. I have a fast SSD and CPU. I saw the performance note. Is there anything else that can be done to speed up the performance?

## Steps to reproduce
press 'S' over a hunk

## Environment
* nvim 0.3.2
* git 2.17.1
* current vimagit version 94762b1
* Linux Mint 19.2
* terminal

git objects 101MB

$ git diff | wc
   1658    6124  128009

[2019-10-02 01:32] jcenters opened #180 "Shell Error"
## Short description of the problem

When I invoke :Magit in some repos, I get the following error message:

Error detected while processing function magit#show_magit[148]..magit#update_buf
fer[59]..magit#state#update[14]..magit#utils#refresh_submodule_list[1]..magit#gi
t#submodule_status[1]..magit#sys#system:
line    5:
E605: Exception not caught: shell_error

## Steps to reproduce

Navigate to a

[2019-10-02 08:34] jreybert commented on #180
Could you give the following outputs:
`git status`
`git submodule list`

Is your repository publicly available somewhere?

[2019-10-03 00:09] jcenters commented on #180
`git status` output

`On branch master
Your branch is ahead of 'origin/master' by 1 commit.
  (use "git push" to publish your local commits)`

`Untracked files:
  (use "git add <file>..." to include in what will be committed)`

	.DS_Store
	coc/.config/coc/extensions/node_modules/.cache/
	coc/.config/coc/extensions/node_modules/coc-prettier/.prettierrc
	coc/.config/coc/extensions/node_modules/coc-p

[2019-10-07 12:26] JamesGardiner commented on #180
I'm also seeing this error with my dotfiles repo. Similar output to the above where there are a number of untracked files and no submodule mappings.

[2019-12-02 20:50] vais commented on #109
Hi, @jreybert, did you ever get around to implementing the second kind of amend, i.e. the kind where you can amend commit *content?* (E.g. unstage files from the commit being amended, review changes, etc.) Because that *would* be very useful indeed!

If not, then, for what it's worth at this point in time, **yes** please :)

[2019-12-05 09:01] jreybert commented on #109
Hi @vais could you open a new request for this feature? I did not have much time to spend on vimagit this last year, but I will try to find some during the christmas holidays.
If you mind, it could be great to share a step by step usage example, to make sure we have the same usage in mind.

[2019-12-05 09:07] jreybert commented on #179
Hi @mikob, for the moment, for such "huge" diff, I do not have special tip. The core of vimagit engine is faulty, and would need a deep rework.

I can't promise any update soon on such huge rework. I will maybe give a look on how fugitive handle this, I know @tpope did some smart thing (as usual) to handle this.

Anyway, I'll update this issue if I start something, so you may help in testing.

[2019-12-05 09:09] jreybert commented on #178
The way commit is triggered for the moment, I can't differentiate `ZZ`, `:wq` or `:w`. I may add an option to globally disable the trigger on write buffer actions.

[2019-12-10 14:38] vais opened #181 "Allow amending commit content, not only the message"
## Short description of the problem
Currently, amending a commit in vimagit does not load/show/allow manipulating the list of files that were committed, only the commit message.

Compare this with e.g. the native `git gui` command: when you choose to amend last commit, it displays **as staged** the list of files that were added/changed/removed by the commit, and allows user to un-stage these "stag

[2019-12-10 14:38] vais commented on #109
Sorry for the delay, @jreybert, here's the new issue: https://github.com/jreybert/vimagit/issues/181

[2019-12-30 08:10] yihuang opened #182 "Vimagit make buffer saving very slow"
## Vimagit make buffer saving very slow

## Steps to reproduce
Install with pathogen.
Don't need to open vimagit interface, then file savings become very slow.

## Environment

* `vim8.2`
* `git 2.24`
* vimagit HEAD
* mac
* iterm2

[2019-12-30 08:16] yihuang commented on #182
Not a vimagit issue, sorry.

[2019-12-30 08:16] #182 closed

[2020-01-27 14:52] iv-nn opened #184 "enable spell check for git message"
I'm trying to enable spell checking, but for the commit message only.

I tried to `set spell` for `magit` buffers and edit the syntax file to add `contains=@NoSpell` to every other element than `commitMsg`. I just cannot get it to work for element which already have something in `contains=`, like `gitHunk`. I tried to set `contains=@diff,@NoSpell` but it doesn't work. My understanding is that with

[2020-02-04 11:41] mpareja opened #185 "unable to override <leader>M mapping"
## Short description of the problem

The plugin maps `<leader>M` without checking if it was already mapped. This prevents users from easily overriding the mapping. I, for instance, would like to override the mapping to [open in a new tab](https://github.com/jreybert/vimagit/issues/154).

## Steps to reproduce

1. Update vmrc to include: `map <silent> <Leader>M :tabnew +Magit<CR>`
2. Restart VIM an

[2020-02-26 22:11] axel22 commented on #180
I'm seeing exactly the same error, but only on some repositories.

[code]

[2020-02-26 22:14] axel22 commented on #180
To add, I had one empty subdirectory which was apparently a "subproject".
Upon deleting it, and committing the deletion, the problem went away.

[2020-03-20 10:33] markkuit commented on #171
Any ETA for this? I see it's being worked on on a fork.

[2020-03-22 13:57] StewartThomson opened #186 "Can't find directory error"
## Short description of the problem
Entering `:Magit` produces the following error:

[code]

## Steps to reproduce
Open vim in a git repo, type `:Magit`

## Environment

* `nvim`: v0.5.0-nightly-2-g87d892a
* `git`: v2.17.1
* vimagit version: bf7b16e99e075b019e56f2fbfb96c493ca3635e2
* OS: Ubuntu 18.04.4 LTS x86_64
* Terminal: Terminator
* Shell: Fish shell

[2020-03-28 18:22] kronikpillow opened #187 "after addint a git submodule vimagit doesn't work anymore"
## Short description of the problem
[code]

## Steps to reproduce
install vimagit, add different git repository as a a gitsubmodule
## Environment
* nvim 0.4.3-2
* git 2.26.0-1
* vimagit commit bf7b16e
* Arch
* st

[2020-05-01 21:21] Monirzadeh opened #188 "show symbol beside lines that added, removed or modified in vim editor?"
## Short description of the problem
i try to switch to vimagti
some other plugin like [vim-gitgutter](https://github.com/airblade/vim-gitgutter) show add, delete or modify lines beside line Number
vimagit has this feature (i can't find any thing about that_
i don't like install other plugin just for that.
 if it have't this feature , please add that.
Example:
<img width="883" alt="screenshot" src=

[2020-05-01 21:30] #188 closed

[2020-07-11 20:33] serenagrace commented on #180
Same issue. I'm on WSL (Ubuntu 18.04.4) vim 8.2. I've been having several different issues with vimagit over the past few days. Uninstalled/reinstalled multiple times. Vimagit refuses to open in some directories, but not others. Here's a repo that gives an error:
[code]
On opening vimagit, or by using vim -c MagitOnly:
[code]
Then, as you can see, the window opens, and airline shows Staging, but n

[2020-08-21 06:29] joshmedeski opened #190 "<tab> for Toggling code"
Feature request: Can <tab> be bound to toggle the code? It's the key that I'm used to and I think it's a sensible default binding.

[2020-10-28 18:26] thadeuk opened #191 "Edit file in tab instead of buffer"
Could have an option to edit the file, using the `E` shortcut, to open it in a tab.

This options is available in YouCompleteMe:
let g:ycm_goto_buffer_command='new-or-existing-tab'

[2020-11-16 11:12] arafel commented on #187
Hi! Just to check something - the module you're adding the submodule into (i.e. the parent), does that have any commits in it? The release Vimagit has a bug which will cause a problem if it's not been committed to (https://github.com/jreybert/vimagit/pull/192).

If that's not the case then "git status" and "git submodule status" might well be useful. Also - if you have chance - please could you tr

[2020-11-18 08:18] kronikpillow commented on #187
mate I honestly don't remember. .. I made this thread in march ... It's november ... but thanks for the reply ... when I have time I'll try to replicate the problem and see if it still is present

[2020-11-19 10:47] arafel commented on #190
Hi - apologies, it might be obvious to everyone else, but - what do you mean by 'toggling the code'? What code...?

Thanks :)

[2020-11-19 22:03] joshmedeski commented on #190
I meant the code folding inside the vimagit status buffer (to hide and show hunks).

But I decided not to use vimagit in my workflow so I'll close the issue.

[2020-11-19 22:03] #190 closed

[2021-03-29 14:17] LordMZTE opened #193 "Very slow using my neovim config"
## Short description of the problem
vimagit is incredibly slow, even opening the vimagit buffer using
`:Magit` takes a good 5 seconds.

## Steps to reproduce
- Use [my nvim config](https://github.com/LordMZTE/dotfiles/blob/master/nvim/init.vim)
- Use the `:Magit` command
- Wait

## Environment

* `vim` or `nvim` version: `NVIM v0.4.4`
* `git` version: `2.31.0`
* current vimagit version or (or SHA1

[2021-04-21 21:03] Amparose commented on #185
It would be better if users had more control over mapping this plugin. I would like to remove the default `<leader>M` mapping and set my own. Opening in a new tab, as above, would really useful. Others [want this](https://github.com/jreybert/vimagit/issues/191) also.

[2021-04-23 14:39] mckellygit commented on #185
I've forked vimagit and hacked it up a bit to get all the things I like.
But would something like this work, maybe ?
[code]

[2021-05-26 09:53] klement opened #194 "jump_to function fails when jumping to a dirty existing buffer"
My situation:

I have a file with multiple changes and I want to edit some of them. So I'm walking change by change and pressing E to open my file. I do the change in the file and switch back to magit buffer, but when I press E again on the next change, it throws an exception:

[code]

this goes away if I save the buffer before doing this. So I wonder if magit could

1.) not do this if it's moving

[2022-05-02 16:46] teutat3s opened #196 "Idea: configure if comments in gitmessage template should be shown"
Thank you for this handy vim plugin!

I'd like to use a git commit message template `~/.gitmessage`, that contains comments. I use these comments to guide me through writing the commit message, much like GitHub issue templates. Currently only uncommented lines from that `~/.gitmessage` make it into the `vimagit` commit message buffer. Maybe there's already a way to achieve what I want or would thi

[2022-05-04 15:30] jreybert commented on #196
Hi, thanks for your issue.

Could you try the branch `next` please?

I think to try branch `next` for 2 weeks, then integrate in branch `master`.

[2022-05-04 16:03] teutat3s commented on #196
Wow this was fast, thank you. I'll try it out and report back.

[2022-05-04 16:24] teutat3s commented on #196
First impression: great! Comments are there when changing from staging to commit mode.

Somehow they get included in the final commit message, though:

EDIT: this is the part of the output of `git log`
[code]

[2022-05-05 09:35] jreybert commented on #196
Indeed, git does not apply cleanup when commit input comes from a file... I need to workaround that.

[2022-05-05 13:46] jreybert commented on #196
Last commit should fix your issue.

[2022-05-05 14:07] teutat3s commented on #196
Yes now it works as expected. Great! Thank you.

[2022-05-05 14:07] #196 closed

[2022-05-20 08:59] jicvi opened #197 "Unable to submit code"
Unable to submit code

[2022-05-20 09:00] jreybert commented on #197
Can you be more specific please?

[2022-05-20 09:02] jreybert commented on #193
I fixed an issue of very slow update due to submodules in 421ecc9, which has been merged in master in June 2021. Do you still experience very slow update?

[2022-05-20 09:03] jclivi commented on #197
@jreybert
Cannot write, 'buftype' option is set

[2022-05-20 09:05] jreybert commented on #187
It seems that @arafel PR fixed the issue. I close this issue, reopen it if you still encounter a submodule issue.

[2022-05-20 09:05] #187 closed

[2022-05-20 09:06] jreybert commented on #186
Do you still have issue? It may be related to fish shell, I never tried vimagit with this shell.

[2022-05-20 09:09] jreybert commented on #197
Please follow the template to raise an issue. And try to describe step by step what you do, and what you are trying to achieve.

## Short description of the problem

## Steps to reproduce

## Environment

* `vim` or `nvim` version
* `git` version
* current vimagit version or (or SHA1)
* OS
* terminal or gvim

[2022-05-20 09:11] #129 closed

[2022-05-20 09:15] jicvi commented on #197
OS
manjaro 20

$ nvim
NVIM v0.5.1
Build type: Debug
LuaJIT 2.1.0-beta3

$ git version
git version 2.34.1

[2022-05-20 09:15] jclivi commented on #197
@jreybert
os
manjaro 20

$ nvim
NVIM v0.5.1

$ git
git  2.34.1

[2022-05-20 09:22] jclivi commented on #197
![2022-05-20_17-20](https://user-images.githubusercontent.com/14210650/169497654-79cf9ff8-65b8-4d03-9df4-0ffacd99abf5.png)

[2022-05-20 09:46] jreybert commented on #197
I see you are able to write 'test111111111'.

What is the issue? Are you able to validate the commit message?

[2022-05-20 09:47] jreybert commented on #197
nice Scottish wallpaper ;)

[2022-05-20 21:41] LordMZTE commented on #193
Seems to be fixed!

[2022-05-21 10:08] jclivi commented on #197
@jreybert
ok, But using requires git pull origin master

[2022-05-21 19:44] jreybert commented on #197
I am sorry, I still don't understand what is your issue.

[2022-05-21 20:16] jreybert commented on #194
Hi, after more a year of silence, I decided to come back to vimagit. Sorry for the long time without support.

Your issue is larger than autowrite. If you still encounter a problem, please let me know, I did not try with autowrite.

I think you issue is fixed in branch next, with the warm cooked commit.

[2022-05-23 10:44] jclivi commented on #197
@jreybert
The code was not commit successfully.

[2022-07-03 20:30] #194 closed

[2022-07-04 06:12] stephenafamo opened #198 "Magit crashes if a file has `$` in its name"
## Short description of the problem

Magit crashes if a file has `$` in its name

## Steps to reproduce

* Create or edit a file that has a `$` in the filename. e.g. `app/routes/invoices/$id.tsx`
* Attempt to open magit

## Environment

* `vim` or `nvim` version: 9.0 (I did experience the same with 8.2)
* `git` version: 2.37
* current vimagit version or (or SHA1): 308650ddc1e9a94e49fae0ea04bbc1c45

[2022-07-11 12:07] joalcava opened #199 "Key maps not working"
## Short description of the problem
I'm using a lua configuration and installing vimagit with Packer, when I open magit non of the keymaps work

## Steps to reproduce
1. Clone and use this configuration: https://github.com/LunarVim/Neovim-from-scratch
2. Add vimagit to the list of plugins in the file `lua/user/plugins.lua`
3. Open vimagit, non of the keymaps work, buffer acts as a regular file

##

[2022-08-01 04:21] bonderado opened #200 "Amend mode does not load the previous message when the edited file was opened from a path outide the repository."
## Short description
When (neo)vim is used to open a tracked file from outside the git repository (e.g.: one directory above), vimagit manages to perform normal commits ('CC') correctly, however, when trying to amend a commit ('CA'), the previous commit message is not loaded.

## Steps to reproduce
To reproduce the issue:

1) Setup a test repo typing  the following commands:
  $ cd ~
  $ mkdir git

[2022-08-12 09:52] jreybert commented on #200
Thanks for such a complete report and for the PR.

I am currently reviving the project, more specifically the CI, which has not been run/updated since github abandoned travis.
I plan to finish this next week.

Your issue seems to be a valid case to be fixed, but it touches fundamental vimagit operations, so I prefer to ensure your fix passes the testsuite.

[2022-08-12 10:08] jreybert opened #202 "Re enable CI"
CI has not been run since github dropped travis.

- [ ] revive testsuite
- [ ] use new github workflow

[2022-08-12 10:09] jreybert commented on #200
requires #202

[2022-08-13 02:34] bonderado commented on #200
In fact,  I was a bit surprised at not getting a test-suite result:
 by all means, make sure I did not  break anything.

Thank you for your work on this marvelous plugin.

[2022-10-04 22:26] satish77 commented on #174
vim 8.2.3397 on windows 10 gives the folllowing on :Magit
![image](https://user-images.githubusercontent.com/1807923/193941524-176f003a-d997-4b0b-9a0a-13b88bbf0c88.png)